
#roles .PageRemovesRole {
	background: #ffffcc; 
}

#status li {
	display: inline; 
	margin-right: 0.5em; 
}

#PageEditTabs {
	margin: 0 0 2em 0; 
}

/**
 * Hide the edit/view/move actions for first (current) page since they aren't applicable in this context
 *
 */
#ProcessPageEditChildren .PageListRoot > .PageList > .PageListItemOpen .PageListActionEdit,
#ProcessPageEditChildren .PageListRoot > .PageList > .PageListItemOpen .PageListActionView,
#ProcessPageEditChildren .PageListRoot > .PageList > .PageListItemOpen .PageListActionMove {
	display: none !important; 
}

/**
 * Position the 'reverse' checkbox to the right of the sortfield selection box
 *
#ProcessPageEditChildren .InputfieldSelect {
	position: relative; 
}

#ProcessPageEditChildren .InputfieldCheckbox {
	position: absolute;
	top: 0.5em;
	right: 0;
}
 */

/**
 * Provide an obvious left margin for the parent page selector list
 *
 */
.InputfieldPageListSelect .PageListRoot > .PageList {
	margin-left: 2em; 
}


/**
 * Position the submit buttons horizontal to each other by making them inline
 *
 */

.Inputfields .InputfieldSubmit,
.Inputfields .InputfieldSubmit .ui-widget-content {
        display: inline; 
}


/**
 * Don't show the save buttons when on the delete tab
 *
 * This works because WireTabs adds class names equal to the ID of the selected tab to the tab target container
 *
 */
.ProcessPageEditDelete #submit_save,
.ProcessPageEditDelete #submit_save_top {
	display: none; 
}

#PageIDIndicator {
	position: absolute; 
	right: 0;
	top: 0;
	margin: 0;
	padding: 2px 4px;
	color: #999;
	display: none; 
}

#submit_save_top {
	position: absolute; 
	right: 0;
	margin: 0;
	top: 0;
}

