.InputfieldImage img {
	max-width: 100%; 
	margin: 0;
	display: block;
	position: relative;
	top:0;

	/* checkerboard to help with viewability of transparent images */
	background-color: #fefefe; 
	background-image: linear-gradient(45deg, #cbcbcb 25%, transparent 25%, transparent 75%, #cbcbcb 75%, #cbcbcb), linear-gradient(45deg, #cbcbcb 25%, transparent 25%, transparent 75%, #cbcbcb 75%, #cbcbcb);
	background-size: 16px 16px;
	background-position: 0 0, 8px 8px;
}
.InputfieldImage img:hover {
	cursor: zoom-in;
	background-color: #eee;
}

.InputfieldImage a.InputfieldFileLink + label.InputfieldFileDescription,
.InputfieldImage a.InputfieldFileLink + label.InputfieldFileTags {
	margin-top: 0.5em;
}

.InputfieldImage a.InputfieldFileMove {
	float: right;
	width: 20px; 
	padding-right: 20px; 
	visibility: hidden; 
}

.ui-state-hover a.InputfieldFileMove {
	visibility: visible;
}
.ui-state-error a.InputfieldFileMove {
	display: none; 
}

.InputfieldFileDelete {
	cursor: pointer;
}

/**
 * Grid mode
 *
 */
.InputfieldImageGrid .InputfieldContent {
	padding-right: 0;
}

.InputfieldImageGrid .InputfieldFileInfo {
	display: none; 
}

.InputfieldImageGrid .AjaxUpload .InputfieldFileInfo {
	display: block;
	clear: both;
	float: none; 
	margin-top: 1em; 
}

.InputfieldImageGrid .InputfieldFileData label {
	display: none; 
}

.InputfieldImageGrid .InputfieldFileList .langTabsContainer,
.InputfieldImageGrid .InputfieldFileList .InputfieldFileDescription,
.InputfieldImageGrid .InputfieldFileList .InputfieldFileTags {
	display: none !important; 
}

.InputfieldImageGrid .InputfieldFileList .InputfieldImage,
.InputfieldImageGrid .InputfieldFileList .InputfieldFileData {
	padding: 0;
	margin: 0;
	float: left; 
	background: none; 
	border: none; 
}

.InputfieldImageGrid .InputfieldFileList .InputfieldFileData a.InputfieldFileLink {
	position: relative; 
	overflow: hidden; 
	width: 100px;
	height: 100px; 
	background: #000; 
	margin: 0 5px 5px 0;
	display: block;
	float: left; 
	cursor: move; 
}
.InputfieldImageGrid .InputfieldFileList .InputfieldFileData a.InputfieldFileLink img {
	max-width: 9999px;
	width: auto; 
	height: 100px; 
	display: block;
	margin: 0 auto;
	display: none; 
}

.Inputfields .InputfieldImageGrid > .InputfieldContent > .InputfieldFileList > li {
	margin: 0;
}

.InputfieldImageGrid .InputfieldFileUpload {
	padding-top: 1em; 
	clear: both; 
	
}

.InputfieldImage .InputfieldHeader .InputfieldImageListToggle {
	float: right;
	padding-right: 1em; 
	position: relative;
}

.InputfieldImage.InputfieldRenderValue .InputfieldHeader .InputfieldImageListToggle,
.InputfieldStateCollapsed .InputfieldHeader .InputfieldImageListToggle {
	display: none; 
}

.InputfieldImageRenderValue + p {
	clear: both;
}

.InputfieldImageRenderValue > span {
	display: block;
	float: left;
	margin: 0 0.25em 0.25em 0;
}
.InputfieldImageRenderValue > span img {
	max-width: 100%; 
}

.InputfieldImage a.InputfieldImageVariationCnt:hover {
	text-decoration: underline;
}

.InputfieldImagePreview {
	position: relative;
	margin-bottom: 0.5em;
}

.InputfieldImageActions {
	display: none; 
}

.InputfieldImagePreview:hover .InputfieldImageActions {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

.InputfieldImage .InputfieldImageActions a {
	display: block;
	float: left;
	padding: 0 4px;
	margin-right: 3px;
	margin-bottom: 3px;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
}

.InputfieldImage .InputfieldImageActions a:hover {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.8);
}

