.InputfieldCheckboxes table {
	width: 100%; 
}

.InputfieldCheckboxesColumns {
	width: 100%; 
}

.Inputfields .InputfieldCheckboxes ul li {
	list-style: none; 
}

.Inputfields .InputfieldCheckboxesColumns li {
	display: block;
	float: left; 
	padding-right: 1%; 
	padding-bottom: 1%; 
}

