.InputfieldCheckboxes ul li {
        /* we don't need checkboxes/radios to have bullets, etc. */
        list-style: none !important;
	/* no need for top/bottom margins in a group of checkboxes or radios */
	margin: 0 !important;
}

.InputfieldCheckboxes table {
	width: 100%; 
}

.InputfieldCheckboxesColumns {
	width: 100%; 
}

.Inputfields .InputfieldCheckboxesColumns li {
	display: block;
	float: left; 
	padding-right: 1%; 
	padding-bottom: 1%; 
}

