.DS_Store?
*.old
*.old/*
*.new
*.new/*
old
old/*
*.1
*.1/*
sess_*
*.cache
*.swp
*.swo
*.sh
site-default/config-dev.php
site-default/assets/logs
site-default/assets/files
site-default/assets/sessions
site-default/assets/cache
site-default/assets/installed.php
site
site-skyscrapers
.htaccess
tmp
upgrade.php
.idea
.svn
.sass-cache
.sass-cache/*
