.Inputfields .asmSelect {
	display: inline;
}

.Inputfields .asmList {
	margin-bottom: 0;
}

.Inputfields .asmListItem {
	margin: 0 0 -1px 0; 
	margin-left: 0; 
}

.Inputfields .asmHighlight {
	display: inline;
}

