/**********************************************************************************************
 * ProcessWire Admin Control Panel - Skyscraper Theme - ui.css
 *
 * 1. jQuery UI overrides.
 * 2. Theming of specific user interface elements (MarkupPagerNav and PageList)
 *
 * Copyright 2012 by Ryan Cramer
 *
 */


/****************************************************************************************
 * 1. Theme specific jQuery UI overrides and additions
 *
 */

.ui-icon {
	float: left; 
	margin-right: 2px; 
}

#notices .ui-state-highlight,
#notices .ui-state-error {
	padding: 0.5em; 
}

	#notices .ui-state-error pre {
		font-size: 11px; 
		margin: 1em 0;
	}

	#notices .ui-icon {
		position: relative;
		top: 2px; 
	}

	#notices a {
		text-decoration: underline; 
	}

.ui-dialog .ui-dialog-content {
	padding: 0; 
}

.ui-widget-overlay {
	background: #000; 
}

.ui-button {
	font-size: 1em; 
	margin: 0 1em 0 0; 
	padding: 3px 9px; 
	cursor: pointer; 
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}

	p > a > .ui-button {
		font-size: 0.923076923076923em;
	}

	a .ui-button {
		display: block;
	}

button.ui-datepicker-trigger {
	margin: 0 0 0 0.5em;
}
	#ui-datepicker-div {
		display: none; 
	}

/***********************************************************************************************
 * 2a. Theme Specific Pagination Markup
 *
 */

.MarkupPagerNav {
        list-style: none;
        margin: 0;
        padding: 0;
        margin: 1em 0;
}
        .MarkupPagerNav li {
                padding: 0;
                margin: 0;
                list-style: none;
                display: inline;
                padding: 6px 0;
                background: none;
        }

                .MarkupPagerNav li a {
                        padding: 4px 9px;
                        margin: 0;
                        text-decoration: none;
                        border: none;
                        background: #2f4248;
                        color: #fff;
                        font-weight: bold;
                        font-size: 11px;
                        text-transform: uppercase;
			opacity: 0.8; 
                }

                .MarkupPagerNav li a:hover {
			opacity: 1.0; 
		}

                .MarkupPagerNav li.MarkupPagerNavOn a {
			opacity: 1.0;
                        color: #fff;
                        background: #db1174;
                }

                .MarkupPagerNav li.MarkupPagerNavSeparator {
                        border: none;
                }


/****************************************************************************************
 * 2b. Theme specific PageList overrides
 *
 */

.PageList {
}
	/**
	 * Default color for page list items
	 *
	 */
	.PageList a.PageListPage, 
	.PageList a.PageListPage:hover {
		color: #7a002b; 	
	}
		/**
	 	 * Color when hovered
		 *
		 */
		.PageList a.PageListPage:hover {
			background: none; 
			text-decoration: underline; 
		}

	/**
	 * Color of page when opened
	 *
	 */
	.PageList .PageListItemOpen > a.PageListPage  {
		color: #000; 
		background-color: #ffffdd;
	}

	/**
	 * Give the page a lighter/alternate color when it has a hidden status
	 *
	 */
	.PageList .PageListStatusHidden a.PageListPage {
		color: #ac6186; 
	}

