ul.Inputfields #wrap_login_name,
ul.Inputfields #wrap_login_pass {
	width: 155px; 
	clear: none; 
	float: left;
	margin-top: 0;
	margin-left: -1px; 
}

ul.Inputfields #login_name,
ul.Inputfields #login_pass {
	width: 123px; 	
}

ul.Inputfields .InputfieldSubmit {
	clear: both; 
}

