ul.Inputfields .InputfieldText,
ul.Inputfields .InputfieldPassword {
	width: 155px; 
	clear: none; 
	float: left;
	margin-top: 0;
	margin-left: -1px; 
}

ul.Inputfields .InputfieldText input,
ul.Inputfields .InputfieldPassword input {
	width: 123px; 	
}

ul.Inputfields .InputfieldSubmit {
	clear: both; 
}

