/**
 * Language tabs styling overrides
 *
 */

#content .langTabs {
	padding-bottom:0;
	margin-bottom: 1em;
	border-radius: 0; 
	border: none; 
}

#content .langTabs .ui-tabs-nav {
	padding-top: 0.25em;
	margin-bottom: 0.4em;
	padding-left: 0;
	background: transparent; 
}

#content .langTabs .ui-tabs-nav li:first-child,
#content .langTabs .ui-tabs-nav li {
	margin-left: 0;
}

#content .langTabs .ui-tabs-nav li, 
#content .langTabs .ui-tabs-nav li a {
	background-color: transparent;
	border-color: transparent;
	border-radius: 0 !important; 
	color: #6c8dae;
	font-weight: normal;
}

#content .langTabs .ui-tabs-nav li a.langTabEmpty {
	color: #97aab4;
}

#content .langTabs .ui-tabs-nav li.ui-state-hover.ui-state-default, 
#content .langTabs .ui-tabs-nav li.ui-state-hover.ui-state-default a {
	background-color: #e2e9ef !important;
	border-color: #e2e9ef !important;
	color: #2c3e50;
}

#content .langTabs .ui-tabs-nav .ui-state-active.ui-state-default,
#content .langTabs .ui-tabs-nav .ui-state-active.ui-state-default a {
	color: #2c3e50;
	background-color: #d2dce6;
	border-color: #d2dce6;
}

#content .langTabs .ui-tabs-panel {
	padding-bottom: 0;
	border: none; 
	padding: 0;
	margin-bottom: 0;
}
