#changed_fields ul li {
	padding: 0.25em; 
}

.InputfieldCheckboxes table.AdminDataTable td:first-child {
	width: 40%; 
	
}

#roles_editor table th,
#roles_editor table td {
	width: 20%; 
}

input[disabled=disabled] {
	opacity: 0.5; 	
}

span.asmFieldsetIndent {
	float: left; 
	width: 15px; 
	height: 5px; 
}

#content .asmFieldset {
	font-weight: bold; 
}


#ProcessTemplateList td:first-child,
#ProcessTemplateList td:nth-child(2) {
	width: 30%; 
}
#ProcessTemplateList td:last-child {
	white-space: nowrap;
}

#ProcessTemplateList table td a.templateFlag {
        float: right;
}

#ProcessTemplateList a.templateFlag {
	position: relative;
	top: 2px; 
}


#content label.ui-widget-header .labelIcon {
	float: left; 
	margin: 0 0 0 -5px; 
	position: relative;
	top: 1px; 
}
