.Inputfields > li > .ui-widget-content > ul.InputfieldFileList > li {
	margin: 0 0 1em 0;
	position: relative; 
	cursor: move; 
}

	ul.InputfieldFileList li p {
	}

	ul.InputfieldFileList li .InputfieldFileInfo, 
	.AjaxUpload .InputfieldFileInfo {
		padding: 3px 0; 
		margin-bottom: 0; 
		margin-top: 0;
	}
	ul.InputfieldFileList li .InputfieldFileInfo .InputfieldFileName {
		font-weight: bold; 
	}
		ul.InputfieldFileList li .InputfieldFileInfo .InputfieldFileName:hover {
			text-decoration: underline; 
			background: none; 
		}

	ul.InputfieldFileList li .InputfieldFileInfo .InputfieldFileStats, 
	.AjaxUpload .InputfieldFileStats {
		opacity: 0.65; 
		font-size: 0.9166666em; 
	}

	ul.InputfieldFileList li .ui-state-error .InputfieldFileName { 
		text-decoration: line-through; 
	}

	ul.InputfieldFileList li .InputfieldFileDelete {
		float: right; 
	}
		ul.InputfieldFileList li .InputfieldFileDelete,
		ul.InputfieldFileList li .InputfieldFileDelete input {
			display: inline;
			font-weight: normal; 
		}
			ul.InputfieldFileList li .InputfieldFileDelete input {
				position: absolute; 
				top: 0;
				right: 0; 
				display: none; 
			}
			ul.InputfieldFileList li .InputfieldFileDelete span.ui-icon {
				float: right; 
				padding: 0 2px; 
				cursor: pointer; 	
			}

	ul.InputfieldFileList li .ui-icon {
		float: left; 
	}

	ul.InputfieldFileList li .InputfieldFileData {
		margin-top: 0; 
		margin-bottom: 0;
		padding: 1em; 
	}

	ul.InputfieldFileList li .InputfieldFileLink {
		font-weight: bold; 
		margin: 0.5em 0;
	}

	ul.InputfieldFileList li .InputfieldFileTags,
	ul.InputfieldFileList li .InputfieldFileDescription {
		font-weight: normal;
		margin: -0.25em 0 0 0;
	}
		ul.InputfieldFileList li .InputfieldFileTags input,
		ul.InputfieldFileList li .InputfieldFileDescription input {
			width: 99.5%; 
		}

		ul.InputfieldFileList li .InputfieldFileTags input {
			margin-bottom: 0.5em;
		}


	ul.InputfieldFileList li .InputfieldFileSort {
		display: none; 
	}

	ul.InputfieldFileListBlank + p.description {
		margin-top: 0;
	}


.InputfieldFileValidExtensions {
	display: block;
}

.InputfieldFileUpload {
	position: relative;
}
	.InputfieldFileUpload input[type=file] {
		display: block;
		margin: 0.25em 0;
	}

	.InputfieldFileUpload img {
		max-width: 100px;
	}


	.InputfieldFileUpload .AjaxUploadDropHere {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		opacity: 0.75; 
	}
		.InputfieldFileUpload .AjaxUploadDropHere span.ui-icon {
			opacity: 0.4; 
		}

.AjaxUpload .ui-progressbar-value {
	padding: 0 !important;
}

.AjaxUpload .ui-progressbar-value span {
	float: right;
	margin: 3px 5px;
}


