#content strong {
	font-weight: bold; 
}

#content em {
	font-style: italic;
}

#content li {
	margin: 3px 0;
	padding: 3px 10px;
}

#content a {
	font-weight: bold; 
}

#content label {
	font-weight: bold; 
}

#content button.floated {
	float: left; 
}

#content label .detail {
	font-weight: normal;
}

.container {
 	max-width: 760px; 
}

