
.Inputfields .InputfieldRepeater > .ui-widget-content > ul.Inputfields {
	margin-bottom: 0; 
}

.InputfieldRepeater li.InputfieldRepeaterReady {
	/* item that's rendered and ready to be a new item */
	position: absolute;
	top: 0;
	left: -9999px; 
}

.InputfieldRepeaterAddItem input {
	position: absolute;	
	left: -9999px; 
	top: 0;
}

.InputfieldRepeater .InputfieldRepeaterNewItem {
	display: none; 
	margin-bottom: 1em !important; 
}

.InputfieldRepeater  ul.ui-sortable > .InputfieldFieldset > label {
	padding-left: 25px; 
	position: relative;
}

.InputfieldRepeaterDrag {
	position: absolute;
	left: 6px;
	margin-top: 1px; 
}
	.InputfieldRepeaterDrag:hover {
		cursor: move; 	
	}

.InputfieldRepeater .InputfieldFieldset > label > .InputfieldRepeaterTrash {
	position: absolute;
	right: 20px; 
	margin-top: 0; 
	z-index: 999; 
}
