.AdminDataList {
	width: 100%;
}

table.AdminDataList th,
table.AdminDataList td,
ul.AdminDataList li {
	border-bottom: 1px dotted #ccc;
	vertical-align: top; 
	padding: 3px 0;
	margin: 0;
}

table.AdminDataList th {
	font-weight: bold;
	color: #777;
	text-transform: uppercase;
	font-size: 0.833333em;
	cursor: pointer; 
}
	table.AdminDataTableSortable th:hover {
		text-decoration: underline; 
	}
	table.AdminDataList th.headerSortDown, 
	table.AdminDataList th.headerSortUp {
		color: #000; 
	}

table.AdminDataList th.actions,
table.AdminDataList td.actions {
	text-align: right;
}

ul.AdminDataList li {
	display: block;
}

.AdminDataList a {
	border: none;
}

table.AdminDataList tr td:first-child a {
	font-weight: bold;
}

table.AdminDataList caption {
	font-size: 1.4em;
}

