/**
 * Warm Color Theme for PW admin
 *
 */

$white: #FFF; 
$black: #222; 
$brown: #743A25;
$light-khaki: #E6E4D8;
$green: #70B340;
$light-green: $green; 
$cyan: #0E9D98;
$orange: #F64704;
$light-orange: #D8744E;
$red: #B81C22;
$light-purple: #8E94C2;
$dark-purple: #333E99;

$text-bg: $white; 
$text-color: $black;
$medium-text-color: #777; 
$light-text-color: #999; 
$reverse-text-color: $white;

$subtle-bg: #F0F0F0; 
$subtle-border: darken($subtle-bg, 8%);

$link-color: #ED3741;
$link-color: #DB1F2C;
$link-hover-color: $red;
$link-hover-bg: none; 
$link-current-color: $light-green;
$link-current-bg: none; 
$link-active-bg: none; 
$link-active-color: $link-hover-color; 

$alt-link-color: $link-color; 

$button-bg: $link-color; 
$button-border: $link-color; 
$button-color: $white;
$button-hover-bg: $green;
$button-hover-border: $green;

$ui-state-default-bg: $link-hover-color;
$ui-state-default-bg: #777; 
$ui-state-default-color: $reverse-text-color; 
$ui-state-hover-bg: $black;
$ui-state-hover-color: $reverse-text-color; 

$label-link-color: $black;
$label-link-bg: #fff; /* -webkit-linear-gradient(top, $subtle-bg 0%, #fff 100%);*/
$label-link-hover-color: $link-hover-color;
$label-link-collapsed-color: lighten($black, 50%); 
$label-link-collapsed-bg: lighten($subtle-bg, 5%); 

$table-th-color: #999; 
$table-th-active-color: #444; 

$masthead-bg: #444;

$headline-bg: #F0F0F0; 
$headline-color: $link-color; /* darken(#ED3741, 5%); */
$headline-border: #666666; 

$highlight-bg: $green; /* #D1F486;*/
$highlight-color: $white; 
$highlight-border: 1px solid #fff; 

$item-header-bg: $link-hover-color;
$item-header-color: $white; 
$item-header-hover-color: $white;
$item-header-hover-bg: $green;
$item-border: 1px solid $subtle-border; 

$breadcrumbs-bg: darken($headline-bg, 3%); 
$breadcrumbs-color: lighten($text-color, 50%);
$breadcrumbs-link-color: $text-color; 
$breadcrumbs-link-hover-color: $link-color; 
$breadcrumbs-border: none; 

$topnav-link-color: $reverse-text-color;
$topnav-link-bg: none; /*rgba(255,255,255,0.05); */
$topnav-link-hover-color: $reverse-text-color; 
$topnav-link-hover-bg: transparentize($reverse-text-color, 0.8); 
$topnav-link-current-color: $text-color; 
$topnav-link-current-bg: $breadcrumbs-bg; 
$topnav-height: 31px; 

$action-link-color: $white; 
$action-link-font-size: 0.769230769230769em; 
$action-link-font-size: 0.846153846153846em;
$action-link-font-size: 1em;
$action-link-font-size: 0.875em;
$action-link-bg: $green; 
$action-link-border: none; 
$action-link-hover-color: $reverse-text-color;
$action-link-hover-bg: $black;
$action-link-hover-border: 1px solid $link-color;
$action-link-active-color: $reverse-text-color; 
$action-link-active-bg: $black;

$pagelist-link-color: #222; 
$pagelist-link-hover-color: $link-hover-color;
$pagelist-link-open-color: $link-hover-color; 
$pagelist-link-open-bg: none; 
$pagelist-link-active-color: $link-hover-color; 
$pagelist-link-icon-color: $link-color; /*lighten($pagelist-link-color, 20%); */

$pagination-font-size: 0.875em;
$pagination-link-color: $white; 
$pagination-link-bg: $link-color; 
$pagination-link-current-color: $text-color;
$pagination-link-current-bg: $breadcrumbs-bg; 
$pagination-link-hover-color: $white;
$pagination-link-hover-bg: $green;
$pagination-link-active-color: $white; 
$pagination-link-active-bg: $link-hover-color; 
$pagination-link-border-radius: 3px; 

$wiretab-link-bg: none; 
$wiretab-link-border: 1px solid transparent; 
$wiretab-link-color: $text-color;
$wiretab-link-hover-bg: transparentize($white, 0.5);
$wiretab-link-hover-border: 1px solid darken($subtle-bg, 8%); 
$wiretab-link-hover-color: $link-hover-color;
$wiretab-link-current-bg: $white;
$wiretab-link-current-color: $text-color; 
$wiretab-link-current-border: $wiretab-link-hover-border;
$wiretab-link-active-bg: $subtle-bg;
$wiretab-link-active-color: $text-color; 

$footer-bg: $masthead-bg;
$footer-color: #999; 
$footer-link-color: #fff; 

$error-bg: $red; 
$error-border: $red; 
$error-color: #fff; 

$notes-bg: #ffffdd; 
$notes-font-size: 0.875em;

$button-radius: 5px; 
$tabs-radius: 5px; 


