/**
 * Classic/original color theme for PW admin
 *
 */

$white: #FFF; 
$black: #222; 
$light-khaki: #E4EBEE;
$orange: #F64704;
$light-orange: #D8744E;
$light-purple: #8E94C2;
$dark-purple: #333E99;
$pink: #DB1174; 
$dark-pink: darken($pink, 8%); 
$red: $dark-pink;
$blue: #1490B8;
$light-blue: #D2E4EA; 
$dark-blue: #2F4248;
$light-green: #93BF0D;
$green: #93BF0D;
$cyan: #0EDCB9;
$brown: #821038;

$subtle-bg: #E4EBEE;
$subtle-border: darken($subtle-bg, 4%);

$text-bg: $white; 
$text-color: $black;

$medium-text-color: #777; 
$light-text-color: #999; 
$reverse-text-color: $white;

$masthead-bg: $dark-blue;
$masthead-secondary-bg: #D2E4EA; /*transparentize($subtle-bg, 0.9); */
$masthead-secondary-border: none; /* 1px solid transparentize($subtle-bg, 0.9); */
$masthead-height: 81px; 

$headline-bg: lighten(#E4EBEE, 3%); 
$headline-bg: #fff;
$headline-color: $masthead-bg;
$headline-border: 1px solid $headline-bg;


$topnav-link-color: #A7E5F9; 
$topnav-link-bg: none; 
$topnav-link-hover-color: $white;
$topnav-link-hover-bg: $pink;
$topnav-link-current-color: $white;
$topnav-link-current-bg: $pink;

$breadcrumbs-bg: #D2E4EA; 
$breadcrumbs-link-color: #005F7D; 
$breadcrumbs-link-hover-color: $pink;
$breadcrumbs-border: 1px solid $breadcrumbs-bg; 
$breadcrumbs-color: transparentize($breadcrumbs-link-color, 0.5); 

$item-header-hover-color: $white;
$item-header-hover-bg: $pink; 
$item-header-bg: #d2e4ea;
$item-header-bg: lighten($masthead-bg, 5%);
$item-header-color: $dark-blue; 
$item-header-color: $white; 
$item-border: 1px solid $item-header-bg; 

$action-link-font-size: 0.769230769230769em; 
$action-link-font-size: 0.923076923076923em;
$action-link-bg: $breadcrumbs-bg;
$action-link-bg: $green;
$action-link-color: $masthead-bg;
$action-link-color: $white; 
$action-link-border: none; 
$action-link-hover-color: $white;
$action-link-hover-border: 1px solid $pink;
$action-link-hover-bg: $pink;
$action-link-active-color: $white; 
$action-link-active-bg: $green;


$link-color: $pink;
$link-hover-color: $dark-pink;
$link-hover-bg: none; 
$link-current-color: $action-link-color;
$link-current-bg: none; 
$link-active-color: $dark-pink; 
$link-active-bg: none; 
$alt-link-color: $link-color; /*darken($green, 8%);*/

$button-bg: $light-green; 
$button-border: $light-green;
$button-color: $white;
$button-hover-bg: $pink;
$button-hover-border: $pink;
$button-radius: 5px; 

$ui-state-default-bg: darken($green, 5%);
$ui-state-default-color: $reverse-text-color; 
$ui-state-hover-bg: $pink;
$ui-state-hover-color: $reverse-text-color; 

$label-link-bg: none; 
$label-link-color: $dark-blue;
$label-link-hover-color: $blue; 
$label-link-collapsed-bg: none; 
$label-link-collapsed-color: transparentize($label-link-color, 0.5); 

$table-th-color: darken($light-blue, 15%); 
$table-th-active-color: darken($light-blue, 30%); 

$pagelist-link-color: #7a002b; 
$pagelist-link-hover-color: $pagelist-link-color;
$pagelist-link-open-color: $black;
$pagelist-link-open-bg: #ffffdd; 
$pagelist-link-active-color: $black; 
$pagelist-link-icon-color: lighten($pagelist-link-color, 15%); /*#CC0048; */

$pagination-font-size: 0.769230769230769em; 
$pagination-link-color: $reverse-text-color;
$pagination-link-bg: $green; 
$pagination-link-current-color: $text-color;
$pagination-link-current-bg: $breadcrumbs-bg;
$pagination-link-hover-color: $white;
$pagination-link-hover-bg: $pink;
$pagination-link-active-color: $white; 
$pagination-link-active-bg: $dark-pink; 
$pagination-link-border-radius: 2px; 

$wiretab-link-bg: none; 
$wiretab-link-border: 1px solid transparent; 
$wiretab-link-color: $pink;
$wiretab-link-hover-bg: $pink;
$wiretab-link-hover-color: $white; 
$wiretab-link-hover-border: 1px solid $pink;
$wiretab-link-current-bg: $pink;
$wiretab-link-current-color: $white;
$wiretab-link-current-border: 1px solid $pink;
$wiretab-link-active-bg: $dark-pink;
$wiretab-link-active-color: $white; 
$tabs-height: 35px; 

$footer-bg: $subtle-bg; /* transparentize($subtle-bg, 0.5); */
$footer-color: $light-text-color; 
$footer-link-color: $pink;

$highlight-bg: #D1F486;
$highlight-color: darken($highlight-bg, 60%); 
$highlight-border: 1px solid #fff; 

$error-bg: $red; 
$error-border: $red; 
$error-color: #fff; 

$notes-bg: #ffffdd; 
$notes-font-size: 0.846153846153846em;

$tabs-radius: 0; 
$tabs-font-weight: bold; 

$footer-font-size: 0.875em; 

body #masthead #topnav {
	margin-top: 0;
	padding-top: 0;
}
body #masthead #topnav li a {
	padding-top: 0.8em;
	padding-bottom: 0.75em;
}

body #masthead #logo {
	margin-top: 0.65em;
}

body #content .WireTabs li a {
}

#masthead {
	border-top: 2px solid #000;
}

#title, 
.description {
	font-family: Georgia, serif; 
}
.description {
	font-style: italic; 
	font-weight: normal;
}

.InputfieldForm .Inputfields .InputfieldHeader,
.InputfieldForm .Inputfields .InputfieldWrapper > .description {
	background: transparentize($breadcrumbs-bg, 0.5); 
	background: -moz-linear-gradient(top, transparentize($subtle-bg, 0.2) 0%, transparentize($subtle-bg, 1) 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, transparentize($subtle-bg, 0.2) 0%, transparentize($subtle-bg, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, transparentize($subtle-bg, 0.2) 0%, transparentize($subtle-bg, 1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, transparentize($subtle-bg, 0.2) 0%, transparentize($subtle-bg, 1) 100%); /* IE10+ */
	background: linear-gradient(top, transparentize($subtle-bg, 0.2) 0%, transparentize($subtle-bg, 1) 100%); /* W3C */
}

.dropdown-menu a.on {
	color: $text-color; 
}

#topnav li a,
#breadcrumbs a,
#content .WireTabs a {
	font-weight: bold; 
}
body #content .WireTabs li a {
	margin-right: 1px; 
	line-height: 1.4em; 
}
#breadcrumbs a i {
	font-size: 14px; 
}

body #headline #title {
	font-size: 2.3em; 
}

#content .WireTabs {
	border-bottom:1px solid $white; 
	padding-bottom: 1px; 
}


$form-top-margin-adjustment: 0; 
