/**
 * Classic/original color theme for PW admin
 *
 */

$white: #FFF; 
$black: #222; 
$light-khaki: #E4EBEE;
$orange: #F64704;
$light-orange: #D8744E;
$red: #a30000;
$light-purple: #8E94C2;
$dark-purple: #333E99;
$pink: #F21E69; 
$dark-pink: darken($pink, 10%); 
$blue: #418FEB;
$light-blue: #4998E9; 
$dark-blue: darken(#395C79, 5%); 
$dark-blue: #2F3638;
$light-green: #93BF0D;
$green: #93BF0D;
$cyan: #0EDCB9;
$brown: #821038;

$subtle-bg: #E4EBEE;
$subtle-border: $subtle-bg;

$text-bg: $white; 
$text-color: $black;

$masthead-bg: #418FEB; 
$masthead-secondary-bg: #4D9FEF; 
$masthead-secondary-border: none; /* 1px solid transparentize($subtle-bg, 0.9); */
$masthead-height: 81px; 


$headline-bg: lighten($subtle-bg, 2%); 
$headline-color: $dark-pink; 
$headline-border: 1px solid $headline-bg;

$medium-text-color: #777; 
$light-text-color: #999; 
$reverse-text-color: $white;

$topnav-link-color: $reverse-text-color;
$topnav-link-bg: none; /*rgba(255,255,255,0.05); */
$topnav-link-hover-color: $pink;
$topnav-link-hover-bg: $headline-bg;
$topnav-link-current-color: $white; 
$topnav-link-current-bg: #395C79; 
$topnav-height: 31px; 

$breadcrumb-color: transparentize($reverse-text-color, 0.7); 
$breadcrumb-link-color: transparentize($reverse-text-color, 0.2); 
$breadcrumb-link-hover-color: $reverse-text-color; 

$item-header-hover-color: $white;
$item-header-hover-bg: $pink; 
$item-header-bg: $green;
$item-header-color: $white; 
$item-border: 1px solid $subtle-bg; 

$alt-link-color: darken($green, 8%);
$link-color: $pink;
$link-hover-color: $dark-pink;
$link-hover-bg: none; 
$link-current-color: $alt-link-color;
$link-current-bg: none; 
$link-active-color: $dark-pink; 
$link-active-bg: none; 

$action-link-font-size: 0.923076923076923em;
$action-link-bg: none; 
$action-link-color: darken($green, 3%);
$action-link-border: none; 
$action-link-hover-color: $white;
$action-link-hover-border: 1px solid $pink;
$action-link-hover-bg: $pink;
$action-link-active-color: $white; 
$action-link-active-bg: $orange;


$button-bg: $light-green; 
$button-border: $light-green;
$button-color: $white;
$button-hover-bg: $pink;
$button-hover-border: $pink;
$button-radius: 5px; 

$ui-state-default-bg: darken($green, 5%);
$ui-state-default-color: $reverse-text-color; 
$ui-state-hover-bg: $pink;
$ui-state-hover-color: $reverse-text-color; 

$label-link-color: $dark-blue;
$label-link-hover-color: $blue; 

$table-th-color: #b0ced8; /* darken($light-blue, 15%); */
$table-th-active-color: $blue; 

$pagelist-link-color: #7a002b; 
$pagelist-link-hover-color: #8F294D;
$pagelist-link-open-color: $black;
$pagelist-link-open-bg: #ffffdd; 
$pagelist-link-active-color: $orange; 
$pagelist-link-icon-color: $dark-pink; /*#CC0048; */

$pagination-font-size: 0.769230769230769em; 
$pagination-link-color: $reverse-text-color;
$pagination-link-bg: $green; 
$pagination-link-current-color: $text-color;
$pagination-link-current-bg: $subtle-bg;
$pagination-link-hover-color: $white;
$pagination-link-hover-bg: $pink;
$pagination-link-active-color: $white; 
$pagination-link-active-bg: $dark-pink; 
$pagination-link-border-radius: 2px; 

$wiretab-link-bg: none; 
$wiretab-link-border: 1px solid transparent; 
$wiretab-link-color: $text-color; 
$wiretab-link-hover-bg: $pink;
$wiretab-link-hover-color: $white; 
$wiretab-link-hover-border: 1px solid transparent; 
$wiretab-link-current-bg: white; 
$wiretab-link-current-color: $text-color; 
$wiretab-link-current-border: 1px solid darken($subtle-bg, 3%);
$wiretab-link-active-bg: $dark-pink;
$wiretab-link-active-color: $white; 

$footer-bg: $subtle-bg; /* transparentize($subtle-bg, 0.5); */
$footer-color: $light-text-color; 
$footer-link-color: $pink;

$highlight-bg: #D1F486;
$highlight-color: darken($highlight-bg, 60%); 
$highlight-border: 1px solid $white; 

$error-bg: $red; 
$error-border: $red; 
$error-color: #fff; 

$notes-bg: #ffffdd; 
$notes-font-size: 0.846153846153846em;

$tabs-radius: 0; 

#masthead {
	overflow: hidden; 
}

#masthead #breadcrumb {
	top: 56px; 
}

#content {
	li.action a, .actions a, 
	.PageList .actions a,
	.PageListMoveNote a {
		text-transform: lowercase; 
	}
}

.topnav.dropdown-menu, .topnav.dropdown-menu .ui-menu-item {
	-webkit-border-radius: 0 !important; 
	border-radius: 0 !important; 
}

