/**
 * Classic/original color theme for PW admin
 *
 */

$white: #FFF; 
$black: #222; 
$light-khaki: #E4EBEE;
$orange: #F64704;
$light-orange: #D8744E;
$red: #a30000;
$light-purple: #8E94C2;
$dark-purple: #333E99;
$pink: #F21E69; 
$dark-pink: darken($pink, 10%); 
$blue: #418FEB;
$light-blue: #4998E9; 
$dark-blue: darken(#395C79, 5%); 
$dark-blue: #2F3638;
$light-green: #93BF0D;
$green: #93BF0D;
$cyan: #0EDCB9;
$brown: #821038;

$subtle-bg: darken(#E8F0F5, 2%);
$subtle-border: darken($subtle-bg, 5%);

$text-bg: $white; 
$text-color: $black;

$masthead-bg: #418FEB; 
$masthead-bg: #4493E9; 
$masthead-secondary-bg: #4D9FEF; 
$masthead-secondary-border: none; /* 1px solid transparentize($subtle-bg, 0.9); */
$masthead-height: 81px; 


$headline-bg: $white; 
$headline-color: $dark-pink; 
$headline-border: 1px solid $headline-bg;

$medium-text-color: #777; 
$light-text-color: #999; 
$reverse-text-color: $white;

$breadcrumbs-bg: #4493E9; 
$breadcrumbs-bg: #53A4EE; 
$breadcrumbs-bg: $subtle-bg; 
$breadcrumbs-color: transparentize($text-color, 0.7); 
$breadcrumbs-link-color: $text-color; 
$breadcrumbs-link-hover-color: $text-color;
$breadcrumbs-border: none; 
$breadcrumbs-title-color: $text-color; 

$topnav-link-color: $reverse-text-color;
$topnav-link-bg: none; 
$topnav-link-hover-color: $pink;
$topnav-link-hover-bg: $white; 
$topnav-link-current-color: $text-color; 
$topnav-link-current-bg: $breadcrumbs-bg; 
$topnav-height: 31px; 


$item-header-hover-color: $white;
$item-header-hover-bg: $pink; 
$item-header-bg: $green;
$item-header-color: $white; 
$item-border: 1px solid $subtle-bg; 

$alt-link-color: $dark-pink; 
$link-color: $pink;
$link-hover-color: $dark-pink;
$link-hover-bg: none; 
$link-current-color: $alt-link-color;
$link-current-bg: none; 
$link-active-color: $dark-pink; 
$link-active-bg: none; 

$action-link-font-size: 1em;
$action-link-bg: $green;
$action-link-color: $white; 
$action-link-border: none; 
$action-link-hover-color: $white;
$action-link-hover-border: 1px solid $pink;
$action-link-hover-bg: $pink;
$action-link-active-color: $white; 
$action-link-active-bg: $dark-pink;


$button-bg: $light-green; 
$button-border: $light-green;
$button-color: $white;
$button-hover-bg: $pink;
$button-hover-border: $pink;
$button-radius: 5px; 

$ui-state-default-bg: darken($green, 5%);
$ui-state-default-color: $reverse-text-color; 
$ui-state-hover-bg: $pink;
$ui-state-hover-color: $reverse-text-color; 

$label-link-color: $dark-blue;
$label-link-bg: #fff; 
$label-link-collapsed-color: transparentize(#69B7EF, 0.1); /*lighten($dark-blue, 35%); */
$label-link-collapsed-bg: #fff; 
$label-link-hover-color: #000; 

$table-th-color: #b0ced8; /* darken($light-blue, 15%); */
$table-th-active-color: $blue; 

$pagelist-link-color: #7a002b; 
$pagelist-link-hover-color: #8F294D;
$pagelist-link-open-color: $black;
$pagelist-link-open-bg: #ffffdd; 
$pagelist-link-active-color: $dark-pink; 
$pagelist-link-icon-color: $dark-pink; /*#CC0048; */

$pagination-font-size: 0.769230769230769em; 
$pagination-link-color: $reverse-text-color;
$pagination-link-bg: $green; 
$pagination-link-current-color: $white; 
$pagination-link-current-bg: $dark-pink;
$pagination-link-hover-color: $white;
$pagination-link-hover-bg: $pink;
$pagination-link-active-color: $white; 
$pagination-link-active-bg: $dark-pink; 
$pagination-link-border-radius: 2px; 

$wiretab-link-bg: none; 
$wiretab-link-border: 1px solid transparent; 
$wiretab-link-color: lighten($label-link-color, 35%); 
$wiretab-link-color: darken(#69B7EF, 10%); 
$wiretab-link-hover-bg: $pink;
$wiretab-link-hover-color: $white; 
$wiretab-link-hover-border: 1px solid transparent; 
$wiretab-link-current-bg: $white; 
$wiretab-link-current-color: $pink;
$wiretab-link-current-border: 1px solid $subtle-border; 
$wiretab-link-active-bg: $dark-pink;
$wiretab-link-active-color: $white; 

$footer-bg: $subtle-bg; /* transparentize($subtle-bg, 0.5); */
$footer-color: $light-text-color; 
$footer-link-color: $pink;

$highlight-bg: transparentize($masthead-bg, 0.4); 
$highlight-color: $white; 
$highlight-border: 1px solid $white; 

$error-bg: $red; 
$error-border: $red; 
$error-color: #fff; 

$notes-bg: #ffffdd; 
$notes-font-size: 0.846153846153846em;

$tabs-radius: 4px; 
$tabs-font-weight: bold; 

/*
$form-top-margin-adjustment: -2px; 
*/

#breadcrumbs li.title {
	font-weight: bold; 
}

