/****************************************************************************************
 * Theme specific jQuery UI overrides and additions
 *
 */

.ui-icon {
	float: left; 
	margin-right: 2px; 
}

.ui-widget {
	font-size: 1em; 
}

.Inputfields li:not(.Inputfield) .ui-widget-header .ui-icon,
.ui-state-default .ui-icon,
.ui-state-hover .ui-icon, 
.ui-state-highlight .ui-icon,
.ui-state-error .ui-icon {
	/* use white icons */
	background-image: url(ui-images/ui-icons_ffffff_256x240.png);
}

/**
 * asmSelect and similar
 *
 */

.content {

	li.ui-state-default,
	.ui-widget-content li.ui-state-default {
		background: $ui-state-default-bg; /* LIGHT-ORANGE */
		border-color: $ui-state-default-bg; /* LIGHT-ORANGE */
		color: $ui-state-default-color; /* WHITE */
	}
	li.ui-state-default a, 
	.ui-widget-content li.ui-state-default a {
		color: $ui-state-default-color; /* WHITE */
	}
	li.ui-state-hover,
	.ui-widget-content li.ui-state-hover {
		background: $ui-state-hover-bg; /* LIGHT-KHAKI */
		border-color: $ui-state-hover-bg; /* LIGHT-KHAKI */
		color: $ui-state-hover-color; 
	}
	li.ui-state-hover a,
	.ui-widget-content li.ui-state-hover a {
		color: $ui-state-hover-color; /* BLACK */
	}
}

.InputfieldForm .ui-accordion-header, 
.ui-accordion-header {
	padding-left: 1.5em; 
	background: $button-bg; 
	border: none; 
	color: $reverse-text-color;
}
	.InputfieldForm .ui-accordion-header a,
	.ui-accordion-header a,
	#footer .ui-accordion-header a {
		color: $reverse-text-color;
	}
.ui-accordion-content,
.content .InputfieldForm .ui-accordion-content,
.content .InputfieldForm .InputfieldMarkup .ui-accordion-content {
	margin-top: 0;
	padding-top: 0;
}

/**
 * Highlight and error states 
 *
 */

.ui-state-highlight, 
.ui-widget-content .ui-state-highlight, 
.ui-widget-header .ui-state-highlight {
	color: $highlight-color; 
	background: $highlight-bg; /* HIGHLIGHT */
	border: $highlight-border; 
}
	

.ui-state-error,
.ui-widget-content .ui-state-error {
	background: $error-bg;	
	color: $error-color; 
	border: none; 
	font-weight: $bold-weight; 
}

#notices .ui-state-highlight, 
#notices .ui-state-error {
	padding: 0.25em 0; 
	border: none; 
	border-bottom: $highlight-border; 
	color: $highlight-color; 
}
	#notices .ui-state-error {
		color: $error-color; 
	}
	#notices .ui-state-highlight a {
		color: $highlight-color; 
	}
	#notices .ui-state-error a {
		color: $error-color; 
	}
	#notices .ui-state-highlight .ui-icon,
	#notices .ui-state-error .ui-icon {
		position: relative;
		top: 2px; 
	}

	#notices .notice-remove {
		float: right; 
		color: $highlight-color; 
		text-decoration: none; 
		padding: 0 0.5em 0 1em; 
	}
	

	.ui-state-highlight a,
	.ui-state-error a {
		text-decoration: underline; 
	}

	p span.ui-state-error {
		padding: 0.25em 0.5em;
	}

/**
 * ui-dialog
 *
 */

.ui-dialog .ui-dialog-title {
	font-weight: normal;
	/* same color as label.ui-widget-header */
	color: $label-link-color; /* BROWN */
}

.ui-dialog .ui-dialog-content {
	padding: 0; 
	max-width: 100%; /* prevents safari overflow */
	
}

.ui-widget-overlay {
	background: $text-color; /* BLACK */
}

/**
 * ui-button
 *
 */

.ui-button, 
button.ui-button.ui-state-default, 
.ui-button.ui-state-default {
	box-shadow: none !important; 
	text-shadow: none !important; 
	color: $button-color; /* WHITE */ 
	background: $button-bg; /* LIGHT-GREEN */
	border: 1px solid $button-border; /* LIGHT-GREEN */
	font-weight: $bold-weight;
	padding: 0.5em 1em; 
	font-size: 1em !important; 
	border-radius: $button-radius; 
}
	button.ui-button span {
		text-shadow: none !important;
	}

	.ui-button:hover, 
	button.ui-button.ui-state-hover, 
	.ui-button.ui-state-hover {
		box-shadow: none !important; 
		color: $reverse-text-color; 
		background: $button-hover-bg; /* CYAN */
		border: 1px solid $button-hover-border; /* CYAN */
		font-weight: $bold-weight;
		font-size: 1em !important;
		text-decoration: none; 
	}

	div + a > .ui-button {
		margin-top: 1em;
	}

/**
 * ui-slider
 * 
 */

.ui-slider .ui-slider-range, 
.ui-widget .ui-slider .ui-slider-range,
.ui-widget-content .ui-slider .ui-slider-range {
	background: $link-hover-color; /* CYAN */
	/* remove padding added to Inputfields that was getting inherited here */
	padding: 0;
}

/**
 * ui-autocomplete
 *
 */
.ui-autocomplete {
	box-shadow: 0 1px 3px 3px rgba(0,0,0,0.15);
	z-index: 200 !important; 
	-webkit-border-radius: 0;
	-moz-border-radius: 0; 
	border-radius: 0;
}
.ui-menu a {
	font-size: $base-font-size; 
	/*
	border-bottom: 1px solid darken($subtle-bg, 5%); 
	*/
}
.ui-menu li .ui-menu li {
	line-height: 1em; 
}
.ui-menu
.ui-menu .ui-menu-item a, 
.ui-autocomplete li a {
	cursor: pointer; 
}
.ui-menu .ui-menu-item a {
	padding: 0.5em 0.75em 0.5em 0.75em; 
}
.ui-menu .ui-menu-item .ui-menu .ui-menu-item a {
	padding: 0 0.25em 0 0.25em; 
}
.ui-menu .ui-menu-item a:hover, 
.ui-autocomplete li a:hover {
	color: $label-link-color; 
}

.ui-autocomplete li small {
	opacity: 0.7; 
}
.ui-autocomplete a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0; 
	border-radius: 0;
}
.ui-autocomplete .ui-widget-header,
.ui-autocomplete .ui-widget-header:hover {
	border: none; 
	margin: 0;
}
.ui-autocomplete .ui-widget-header a,
.ui-autocomplete .ui-widget-header a:hover {
	font-weight: $bold-weight !important;
	background: $link-color; 
	color: $reverse-text-color;
	border: none !important;
	margin: 0 !important;
	text-shadow: none; 
}

#content .InputfieldForm .ui-tabs-nav {
	background: transparentize($subtle-bg, 0.5);
	background: -webkit-linear-gradient(top, transparentize($subtle-bg, 0.4) 0%, $subtle-bg 100%); 
	border: none; 
	padding-bottom: 0; 
	padding-left: 0; 
}
#content .InputfieldForm .ui-tabs-nav li:first-child {
	margin-left: 0.5em; 
}
#content .InputfieldForm .ui-tabs-nav li {
	margin-top: 0.15em; 
}
#content .InputfieldForm .ui-tabs-nav a {
	text-shadow: none; 
}
#content .InputfieldForm .ui-tabs-nav .ui-state-active {
}
#content .InputfieldForm .ui-tabs-nav .ui-state-active,
#content .InputfieldForm .ui-tabs-nav .ui-state-active a {
	color: #000;
	background: #fff; 
}

/**
 * ui-tooltip
 *
 */
.ui-tooltip {
	padding: 10px 20px;
	color: $reverse-text-color;
	border-radius: $button-radius;
	font-weight: $bold-weight;
	box-shadow: 0 0 7px $text-color;
}
	.ui-tooltip, .arrow:after {
		background: $text-color; 
		border: 2px solid $reverse-text-color; 
	}
	.arrow {
		width: 70px;
		height: 16px;
		overflow: hidden;
		position: absolute;
		left: 50%;
		margin-left: -35px;
		bottom: -16px;
	}
	.arrow.top {
		top: -16px;
		bottom: auto;
	}
	.arrow.left {
		left: 20%;
	}
	.arrow:after {
		content: "";
		position: absolute;
		left: 20px;
		top: -20px;
		width: 25px;
		height: 25px;
		box-shadow: 6px 5px 9px -9px $text-color; 
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		tranform: rotate(45deg);
	}
	.arrow.top:after {
		bottom: -20px;
		top: auto;
	}

.ui-timepicker-div {
	margin-top: 1em; 
}
