/*
Errno::ENOENT: No such file or directory - ./sass/main.scss

Backtrace:
/Volumes/RyMain/Users/ryan/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/plugin/compiler.rb:360:in `read'
/Volumes/RyMain/Users/ryan/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/plugin/compiler.rb:360:in `update_stylesheet'
/Volumes/RyMain/Users/ryan/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/plugin/compiler.rb:203:in `update_stylesheets'
/Volumes/RyMain/Users/ryan/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `each'
/Volumes/RyMain/Users/ryan/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `update_stylesheets'
/Volumes/RyMain/Users/ryan/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/plugin/compiler.rb:283:in `watch'
/Volumes/RyMain/Users/ryan/.gem/ruby/1.8/gems/sass-3.2.10/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/Volumes/RyMain/Users/ryan/.gem/ruby/1.8/gems/sass-3.2.10/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/Volumes/RyMain/Users/ryan/.gem/ruby/1.8/gems/sass-3.2.10/vendor/listen/lib/listen/multi_listener.rb:117:in `initialize_adapter'
/Volumes/RyMain/Users/ryan/.gem/ruby/1.8/gems/sass-3.2.10/vendor/listen/lib/listen/adapters/polling.rb:56:in `call'
/Volumes/RyMain/Users/ryan/.gem/ruby/1.8/gems/sass-3.2.10/vendor/listen/lib/listen/adapters/polling.rb:56:in `poll'
/Volumes/RyMain/Users/ryan/.gem/ruby/1.8/gems/sass-3.2.10/vendor/listen/lib/listen/adapters/polling.rb:32:in `start'
/Volumes/RyMain/Users/ryan/.gem/ruby/1.8/gems/sass-3.2.10/vendor/listen/lib/listen/adapters/polling.rb:32:in `initialize'
/Volumes/RyMain/Users/ryan/.gem/ruby/1.8/gems/sass-3.2.10/vendor/listen/lib/listen/adapters/polling.rb:32:in `new'
/Volumes/RyMain/Users/ryan/.gem/ruby/1.8/gems/sass-3.2.10/vendor/listen/lib/listen/adapters/polling.rb:32:in `start'
/Volumes/RyMain/Users/ryan/.gem/ruby/1.8/gems/sass-3.2.10/vendor/listen/lib/listen/multi_listener.rb:44:in `start'
/Volumes/RyMain/Users/ryan/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/plugin/compiler.rb:291:in `watch'
/Volumes/RyMain/Users/ryan/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/plugin.rb:107:in `send'
/Volumes/RyMain/Users/ryan/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/plugin.rb:107:in `method_missing'
/Volumes/RyMain/Users/ryan/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/exec.rb:455:in `watch_or_update'
/Volumes/RyMain/Users/ryan/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/exec.rb:318:in `process_result'
/Volumes/RyMain/Users/ryan/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/Volumes/RyMain/Users/ryan/.gem/ruby/1.8/gems/sass-3.2.10/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/Volumes/RyMain/Users/ryan/.gem/ruby/1.8/gems/sass-3.2.10/bin/sass:9
/Volumes/RyMain/Users/ryan/.gem/ruby/1.8/bin/sass:19:in `load'
/Volumes/RyMain/Users/ryan/.gem/ruby/1.8/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - ./sass/main.scss"; }
