/**
 * Classic/original color theme for PW admin
 *
 */

$white: #FFF; 
$black: #222; 
$light-khaki: #E4EBEE;
$orange: #F64704;
$light-orange: #D8744E;
$red: #a30000;
$light-purple: #8E94C2;
$dark-purple: #333E99;
$pink: #F21E69; 
$dark-pink: darken($pink, 8%); 
$blue: #337F99;
$light-blue: #D2E4EA; 
$dark-blue: #2F4248;
$light-green: #93BF0D;
$green: #93BF0D;
$cyan: #0EDCB9;
$brown: #821038;

$subtle-bg: #E4EBEE;
$subtle-border: $subtle-bg;

$text-bg: $white; 
$text-color: $black;
$medium-text-color: #777; 
$light-text-color: #999; 
$reverse-text-color: $white;

$masthead-bg: $dark-blue;
$masthead-secondary-bg: transparentize($subtle-bg, 0.9); 
$masthead-secondary-border: none; /* 1px solid transparentize($subtle-bg, 0.9); */
$masthead-height: 81px; 

$topnav-link-color: $reverse-text-color;
$topnav-link-bg: rgba(255,255,255,0.05); 
$topnav-link-hover-color: $reverse-text-color; 
$topnav-link-hover-bg: transparentize($reverse-text-color, 0.8); 
$topnav-link-current-color: $reverse-text-color; 
$topnav-link-current-bg: $dark-pink;
$topnav-height: 31px; 

$breadcrumb-color: transparentize($reverse-text-color, 0.7); 
$breadcrumb-link-color: transparentize($reverse-text-color, 0.4); 
$breadcrumb-link-hover-color: $reverse-text-color; 

$headline-bg: transparentize(#E4EBEE, 0.6); 
$headline-color: $text-color; 
$headline-border: 1px solid #E4EBEE; 

$item-header-hover-color: $white;
$item-header-hover-bg: $pink; 
$item-header-bg: $dark-blue;
$item-header-color: $white; 
$item-border: $subtle-bg; 

$action-link-font-size: 0.769230769230769em; 
$action-link-bg: none;
$action-link-color: $pink;
$action-link-hover-color: $white;
$action-link-hover-bg: $pink;
$action-link-active-color: $white; 
$action-link-active-bg: $orange;

$link-color: $pink;
$link-hover-color: $dark-pink;
$link-hover-bg: none; 
$link-current-color: $action-link-color;
$link-current-bg: none; 
$link-active-color: $dark-pink; 
$link-active-bg: none; 

$button-bg: $light-green; 
$button-border: $light-green;
$button-color: $white;
$button-hover-bg: $pink;
$button-hover-border: $pink;
$button-radius: 5px; 

$ui-state-default-bg: darken($green, 5%);
$ui-state-default-color: $reverse-text-color; 
$ui-state-hover-bg: $pink;
$ui-state-hover-color: $reverse-text-color; 

$label-link-color: $dark-blue;
$label-link-hover-color: $blue; 

$table-th-color: darken($light-blue, 15%); 
$table-th-active-color: darken($light-blue, 30%); 

$pagelist-link-color: #8F294D; 
$pagelist-link-hover-color: #8F294D;
$pagelist-link-open-color: $black;
$pagelist-link-active-color: $orange; 

$pagination-font-size: 0.769230769230769em; 
$pagination-link-color: $reverse-text-color;
$pagination-link-bg: $green; 
$pagination-link-current-color: $text-color;
$pagination-link-current-bg: $subtle-bg;
$pagination-link-hover-color: $white;
$pagination-link-hover-bg: $pink;
$pagination-link-active-color: $white; 
$pagination-link-active-bg: $dark-pink; 
$pagination-link-border-radius: 2px; 

$wiretab-link-bg: none; 
$wiretab-link-color: $link-color; 
$wiretab-link-hover-bg: $pink;
$wiretab-link-hover-color: $white; 
$wiretab-link-current-bg: $dark-pink;
$wiretab-link-current-color: $white; 
$wiretab-link-active-bg: $wiretab-link-current-bg; 
$wiretab-link-active-color: $wiretab-link-current-color; 

$footer-bg: $headline-bg; /* transparentize($subtle-bg, 0.5); */
$footer-color: $light-text-color; 
$footer-link-color: $pink;

$highlight-bg: #D1F486;
$highlight-color: darken($highlight-bg, 60%); 

$error-bg: $red; 
$error-border: $red; 
$error-color: #fff; 

$notes-bg: #ffffdd; 
$notes-font-size: 0.846153846153846em;

$tabs-radius: 0; 
