
#masthead #topnav a {
	font-weight: normal;
}

.content > .container > #PageListContainer {
	margin-top: 1em; 
}

body #content .container > form,
body #content .container > .ui-helper-clearfix > form {
	top: -2px; 
}

#topnav {
	font-weight: bold;
}

body #headline {
	padding-bottom: 2em; 
	padding-top: 3em; 
}

body.hasWireTabs #content {
	border-top: 3em solid $headline-bg; 
}

/*
body.id-3 #content {
	border-top: 1em solid $subtle-bg; 
}
*/

#content .WireTabs {
	margin-top: 0;
	position: relative;
	top: -18px; 
	z-index: 102; 
	margin-bottom: -19px; 
	width: 100%; 
}

#content .WireTabs a {
	font-weight: normal;
	color: $text-color; 
	border: 1px solid transparent; 
	height: 33px; 
	border-bottom: none; 
}

#content .WireTabs a.on,
#content .WireTabs a:hover {
	border: 1px solid darken($subtle-bg, 5%);
	border-bottom: none; 
}


#masthead #head_button {
	top: 102px; 
}

#content #_ProcessPageEditView {
	float: right; 
	border: 1px solid #ddd;
	border-bottom: none; 
	margin-right: 0; 
}

#content .PageListItem {
	border-bottom: 1px solid $subtle-border; 
	padding-top: 4px;
	padding-bottom: 4px; 
}
