/****************************************************************************************
 * Theme specific jQuery UI overrides and additions
 *
 */

.ui-icon {
	float: left; 
	margin-right: 2px; 
}

.ui-widget {
	font-size: 1em; 
}

.Inputfields li:not(.Inputfield) .ui-widget-header .ui-icon,
#breadcrumb .ui-state-default .ui-icon,
.ui-state-default .ui-icon,
.ui-state-hover .ui-icon, 
.ui-state-highlight .ui-icon,
.ui-state-error .ui-icon {
	/* use white icons */
	background-image: url(JqueryUI/images/ui-icons_FFFFFF_256x240.png);
}

/**
 * asmSelect and similar
 *
 */

li.ui-state-default,
.ui-widget-content li.ui-state-default {
	background: $ui-state-default-bg; /* LIGHT-ORANGE */
	border-color: $ui-state-default-bg; /* LIGHT-ORANGE */
	color: $ui-state-default-color; /* WHITE */
}
	li.ui-state-default a, 
	.ui-widget-content li.ui-state-default a {
		color: $ui-state-default-color; /* WHITE */
	}
	li.ui-state-hover,
	.ui-widget-content li.ui-state-hover {
		background: $ui-state-hover-bg; /* LIGHT-KHAKI */
		border-color: $ui-state-hover-bg; /* LIGHT-KHAKI */
		color: $ui-state-hover-color; 
	}
	li.ui-state-hover a,
	.ui-widget-content li.ui-state-hover a {
		color: $ui-state-hover-color; /* BLACK */
	}

.InputfieldForm .ui-accordion-header, 
.ui-accordion-header {
	padding-left: 1.5em; 
	background: $button-bg; 
	border: none; 
	color: $reverse-text-color;
}
	.InputfieldForm .ui-accordion-header a,
	.ui-accordion-header a,
	#footer .ui-accordion-header a {
		color: $reverse-text-color;
	}
.ui-accordion-content,
.content .InputfieldForm .ui-accordion-content,
.content .InputfieldForm .InputfieldMarkup .ui-accordion-content {
	margin-top: 0;
	padding-top: 0;
}

/**
 * Highlight and error states 
 *
 */

.ui-state-highlight, 
.ui-widget-content .ui-state-highlight, 
.ui-widget-header .ui-state-highlight {
	color: $highlight-color; 
	background: $highlight-bg; /* HIGHLIGHT */
	border: none; 
	border-bottom: 1px solid $reverse-text-color;
}
	

.ui-state-error,
.ui-widget-content .ui-state-error {
	background: $error-bg;	
	color: $error-color; 
	border: none; 
	font-weight: bold; 
}

#notices .ui-state-highlight, 
#notices .ui-state-error {
	padding: 0.25em; 
	padding-left: 1.5em; 
}

	#notices .ui-state-highlight .ui-icon,
	#notices .ui-state-error .ui-icon {
		position: relative;
		top: 2px; 
	}
	

	.ui-state-highlight a,
	.ui-state-error a {
		text-decoration: underline; 
	}

	p span.ui-state-error {
		padding: 0.25em 0.5em;
	}

/**
 * ui-dialog
 *
 */

.ui-dialog .ui-dialog-title {
	font-weight: normal;
	/* same color as label.ui-widget-header */
	color: $label-link-color; /* BROWN */
}

.ui-dialog .ui-dialog-content {
	padding: 0; 
	max-width: 100%; /* prevents safari overflow */
	
}

.ui-widget-overlay {
	background: $text-color; /* BLACK */
}

/**
 * ui-button
 *
 */

.ui-button, 
button.ui-button.ui-state-default, 
.ui-button.ui-state-default {
	box-shadow: none !important; 
	text-shadow: none !important; 
	color: $button-color; /* WHITE */ 
	background: $button-bg; /* LIGHT-GREEN */
	border: 1px solid $button-border; /* LIGHT-GREEN */
	font-weight: bold;
	padding: 5px 10px; 
	font-size: 1em; 
	border-radius: $button-radius; 
}
	button.ui-button span {
		text-shadow: none !important;
	}

	.ui-button:hover, 
	button.ui-button.ui-state-hover, 
	.ui-button.ui-state-hover {
		box-shadow: none !important; 
		color: $reverse-text-color; 
		background: $button-hover-bg; /* CYAN */
		border: 1px solid $button-hover-border; /* CYAN */
		font-weight: bold;
		font-size: 1em; 
		text-decoration: none; 
	}

	div + a > .ui-button {
		margin-top: 1em;
	}

/*
p > a > .ui-button {
	font-size: 0.923076923076923em;
}

a .ui-button {
	display: block;
}
*/

/*
.ui-accordion-header-icon {
	display: none; 
}
*/

/**
 * ui-slider
 * 
 */

.ui-widget .ui-slider .ui-slider-range,
.ui-widget-content .ui-slider .ui-slider-range {
	background: $link-hover-color; /* CYAN */
	/* remove padding added to Inputfields that was getting inherited here */
	padding: 0;
}

/**
 * ui-autocomplete
 *
 */
.ui-autocomplete {
    box-shadow: 0 1px 3px 3px rgba(0,0,0,0.15);
}
.ui-autocomplete li {
	border-bottom: 1px solid darken($subtle-bg, 10%); /* LIGHT-KHAKI */
	color: $text-color;

}
.ui-autocomplete li a {
	color: $label-link-color;
	cursor: pointer; 
}
.ui-autocomplete li a:hover {
	color: $link-hover-color; 
}

.ui-autocomplete li small {
    opacity: 0.5; 
}
.ui-autocomplete .ui-widget-header a,
.ui-autocomplete .ui-widget-header a:hover {
	font-weight: bold;
	background: $link-hover-color;
	color: $reverse-text-color;
	text-shadow: none; 
}

/**
 * ui-tooltip
 *
 */
.ui-tooltip {
	padding: 10px 20px;
	color: $reverse-text-color;
	border-radius: $button-radius;
	font: bold 12px "Helvetica Neue", Sans-Serif;
	box-shadow: 0 0 7px $text-color;
}
	.ui-tooltip, .arrow:after {
		background: $text-color; /* BLACK */
		border: 2px solid $reverse-text-color; /* WHITE */
	}
	.arrow {
		width: 70px;
		height: 16px;
		overflow: hidden;
		position: absolute;
		left: 50%;
		margin-left: -35px;
		bottom: -16px;
	}
	.arrow.top {
		top: -16px;
		bottom: auto;
	}
	.arrow.left {
		left: 20%;
	}
	.arrow:after {
		content: "";
		position: absolute;
		left: 20px;
		top: -20px;
		width: 25px;
		height: 25px;
		box-shadow: 6px 5px 9px -9px $text-color; /* BLACK */
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		tranform: rotate(45deg);
	}
	.arrow.top:after {
		bottom: -20px;
		top: auto;
	}

