/* 1px solid transparentize($subtle-bg, 0.9); */
/* transparentize($subtle-bg, 0.5); */
/* #D1F486;q*/
/* darken($highlight-bg, 60%); */
#content .WireTabs {
  background: #f2f3f4; }

#masthead .ui-button,
#masthead button.ui-button.ui-state-default,
#masthead .ui-button.ui-state-default,
#content .ui-button,
#content button.ui-button.ui-state-default,
#content .ui-button.ui-state-default {
  font-weight: normal; }
#masthead .ui-priority-secondary ui-button,
#masthead button.ui-button.ui-state-default.ui-priority-secondary,
#masthead .ui-priority-secondary.ui-button.ui-state-default,
#content .ui-priority-secondary ui-button,
#content button.ui-button.ui-state-default.ui-priority-secondary,
#content .ui-priority-secondary.ui-button.ui-state-default {
  font-weight: normal;
  background: white;
  color: #444;
  border: 1px solid #ccc;
  opacity: 1.0 !important; }
#masthead .ui-button:hover,
#masthead button.ui-button.ui-state-hover,
#masthead .ui-button.ui-state-hover,
#content .ui-button:hover,
#content button.ui-button.ui-state-hover,
#content .ui-button.ui-state-hover {
  font-weight: normal;
  opacity: 1.0 !important; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, label, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

a {
  text-decoration: none; }

/****************************************************************************************
 * Theme specific jQuery UI overrides and additions
 *
 */
.ui-icon {
  float: left;
  margin-right: 2px; }

.ui-widget {
  font-size: 1em; }

.Inputfields li:not(.Inputfield) .ui-widget-header .ui-icon,
#breadcrumb .ui-state-default .ui-icon,
.ui-state-default .ui-icon,
.ui-state-hover .ui-icon,
.ui-state-highlight .ui-icon,
.ui-state-error .ui-icon {
  /* use white icons */
  background-image: url(JqueryUI/images/ui-icons_FFFFFF_256x240.png); }

/**
 * asmSelect and similar
 *
 */
.content li.ui-state-default,
.content .ui-widget-content li.ui-state-default {
  background: #cc413d;
  /* LIGHT-ORANGE */
  border-color: #cc413d;
  /* LIGHT-ORANGE */
  color: white;
  /* WHITE */ }
.content li.ui-state-default a,
.content .ui-widget-content li.ui-state-default a {
  color: white;
  /* WHITE */ }
.content li.ui-state-hover,
.content .ui-widget-content li.ui-state-hover {
  background: #be3632;
  /* LIGHT-KHAKI */
  border-color: #be3632;
  /* LIGHT-KHAKI */
  color: white; }
.content li.ui-state-hover a,
.content .ui-widget-content li.ui-state-hover a {
  color: white;
  /* BLACK */ }

.InputfieldForm .ui-accordion-header,
.ui-accordion-header {
  padding-left: 1.5em;
  background: #cc413d;
  border: none;
  color: white; }

.InputfieldForm .ui-accordion-header a,
.ui-accordion-header a,
#footer .ui-accordion-header a {
  color: white; }

.ui-accordion-content,
.content .InputfieldForm .ui-accordion-content,
.content .InputfieldForm .InputfieldMarkup .ui-accordion-content {
  margin-top: 0;
  padding-top: 0; }

/**
 * Highlight and error states 
 *
 */
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  color: white;
  background: #48a63d;
  /* HIGHLIGHT */
  border: none;
  border-bottom: 1px solid white; }

.ui-state-error,
.ui-widget-content .ui-state-error {
  background: #a30000;
  color: white;
  border: none;
  font-weight: bold; }

#notices .ui-state-highlight,
#notices .ui-state-error {
  padding: 0.25em;
  padding-left: 0.5em; }

#notices .ui-state-highlight .ui-icon,
#notices .ui-state-error .ui-icon {
  position: relative;
  top: 2px; }

.ui-state-highlight a,
.ui-state-error a {
  text-decoration: underline; }

p span.ui-state-error {
  padding: 0.25em 0.5em; }

/**
 * ui-dialog
 *
 */
.ui-dialog .ui-dialog-title {
  font-weight: normal;
  /* same color as label.ui-widget-header */
  color: #222222;
  /* BROWN */ }

.ui-dialog .ui-dialog-content {
  padding: 0;
  max-width: 100%;
  /* prevents safari overflow */ }

.ui-widget-overlay {
  background: #222222;
  /* BLACK */ }

/**
 * ui-button
 *
 */
.ui-button,
button.ui-button.ui-state-default,
.ui-button.ui-state-default {
  box-shadow: none !important;
  text-shadow: none !important;
  color: white;
  /* WHITE */
  background: #cc413d;
  /* LIGHT-GREEN */
  border: 1px solid #cc413d;
  /* LIGHT-GREEN */
  font-weight: bold;
  padding: 5px 10px;
  font-size: 1em;
  border-radius: 5px; }

button.ui-button span {
  text-shadow: none !important; }

.ui-button:hover,
button.ui-button.ui-state-hover,
.ui-button.ui-state-hover {
  box-shadow: none !important;
  color: white;
  background: #48a63d;
  /* CYAN */
  border: 1px solid #48a63d;
  /* CYAN */
  font-weight: bold;
  font-size: 1em;
  text-decoration: none; }

div + a > .ui-button {
  margin-top: 1em; }

/*
p > a > .ui-button {
	font-size: 0.923076923076923em;
}

a .ui-button {
	display: block;
}
*/
/*
.ui-accordion-header-icon {
	display: none; 
}
*/
/**
 * ui-slider
 * 
 */
.ui-widget .ui-slider .ui-slider-range,
.ui-widget-content .ui-slider .ui-slider-range {
  background: #cc413d;
  /* CYAN */
  /* remove padding added to Inputfields that was getting inherited here */
  padding: 0; }

/**
 * ui-autocomplete
 *
 */
.ui-autocomplete {
  box-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0.15);
  z-index: 101 !important; }

.ui-autocomplete li {
  border-bottom: 1px solid #d6d9dd;
  /* LIGHT-KHAKI */
  color: #222222; }

.ui-autocomplete li a {
  color: #222222;
  cursor: pointer; }

.ui-autocomplete li a:hover {
  color: #cc413d; }

.ui-autocomplete li small {
  opacity: 0.5; }

.ui-autocomplete .ui-widget-header a,
.ui-autocomplete .ui-widget-header a:hover {
  font-weight: bold;
  background: #cc413d;
  color: white;
  text-shadow: none; }

#content .InputfieldForm .ui-tabs-nav {
  background: rgba(242, 243, 244, 0.5);
  background: -webkit-linear-gradient(top, rgba(242, 243, 244, 0.6) 0%, #f2f3f4 100%);
  border: none;
  padding-bottom: 0;
  padding-left: 0; }

#content .InputfieldForm .ui-tabs-nav li:first-child {
  margin-left: 0.5em; }

#content .InputfieldForm .ui-tabs-nav li {
  margin-top: 0.15em; }

#content .InputfieldForm .ui-tabs-nav a {
  text-shadow: none; }

#content .InputfieldForm .ui-tabs-nav .ui-state-active,
#content .InputfieldForm .ui-tabs-nav .ui-state-active a {
  color: #000;
  background: #fff; }

/**
 * ui-tooltip
 *
 */
.ui-tooltip {
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  font: bold 12px "Helvetica Neue", Sans-Serif;
  box-shadow: 0 0 7px #222222; }

.ui-tooltip, .arrow:after {
  background: #222222;
  border: 2px solid white; }

.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px; }

.arrow.top {
  top: -16px;
  bottom: auto; }

.arrow.left {
  left: 20%; }

.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px #222222;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  tranform: rotate(45deg); }

.arrow.top:after {
  bottom: -20px;
  top: auto; }

.InputfieldForm {
  margin-bottom: 1em;
  /**
   * Margin and padding tweaks to prevent doubled visual whitespace
   *
   */ }
  .InputfieldForm .Inputfields,
  .InputfieldForm .Inputfields > .Inputfield {
    list-style: none;
    padding: 0; }
  .InputfieldForm .Inputfields .Inputfields {
    /* nested .Inputfields list needs no bottom margin since it'll already be offset from the parent's padding */
    margin-bottom: 0; }
  .InputfieldForm .Inputfields > .InputfieldColumnWidth {
    /* an Inputfield that has a percentage width assigned to it */
    float: left;
    clear: none;
    margin-top: 0; }
  .InputfieldForm .Inputfields .InputfieldColumnWidthFirst,
  .InputfieldForm .Inputfields .InputfieldColumnWidth + .InputfieldSubmit {
    /* first Inputfield with a percent width... */
    /* ...or the last percentage-width Inputifeld before the submit button */
    clear: both;
    margin-left: 0; }
  .InputfieldForm .Inputfields .InputfieldColumnWidthFirstTmp,
  .InputfieldForm .Inputfields .InputfieldColumnWidthFirst.InputfieldStateHidden + .Inputfield {
    /* for support of inputfield dependencies */
    clear: both;
    margin-left: 0; }
  .InputfieldForm .Inputfields .InputfieldColumnWidth:not(.InputfieldColumnWidthFirst) .InputfieldHeader,
  .InputfieldForm .Inputfields .InputfieldColumnWidth:not(.InputfieldColumnWidthFirst) .InputfieldContent {
    margin-left: -1px; }
  .InputfieldForm .Inputfields > .Inputfield:not(.InputfieldSubmit) > .InputfieldContent > *:first-child,
  .InputfieldForm .Inputfields > .Inputfield > .InputfieldContent > div > *:first-child,
  .InputfieldForm .Inputfields > .Inputfield:first-child {
    /* first child element of an Inputfield or it's content needs no top margin since it is already padded */
    margin-top: 0; }
  .InputfieldForm .Inputfields .Inputfields > .Inputfield:last-child,
  .InputfieldForm .Inputfields > .Inputfield > .InputfieldContent > *:last-child {
    /* last child element in an Inputfield content needs no margin since it is already padded */
    margin-bottom: 0; }

.Inputfields {
  height: auto;
  /**
   * InputfieldMarkup
   *
   */
  /**
   * Repeaters
   *
   */
  /**
   * Item and file lists
   *
   */ }
  .Inputfields fieldset,
  .Inputfields input,
  .Inputfields select,
  .Inputfields textarea,
  .Inputfields label {
    /* reset */
    margin: 0;
    padding: 0; }
  .Inputfields label {
    display: block; }
  .Inputfields .Inputfield,
  .Inputfields label,
  .Inputfields input,
  .Inputfields select,
  .Inputfields textarea,
  .Inputfields table {
    height: auto; }
  .Inputfields input,
  .Inputfields select,
  .Inputfields textarea {
    font-size: 1em;
    max-width: 100%; }
  .Inputfields input,
  .Inputfields textarea {
    /* slight padding for input and textarea elements... */
    padding: 0.1em 0.2em;
    line-height: 1.3em; }
  .Inputfields textarea,
  .Inputfields input.InputfieldMaxWidth {
    width: 100%; }
  .Inputfields input[type=checkbox],
  .Inputfields input[type=radio] {
    /* ...but no padding for checkbox and radios */
    padding: 0; }
  .Inputfields .Inputfield {
    margin-bottom: -1px;
    /* non doubled border */
    margin-top: 0;
    background: white; }
  .Inputfields .Inputfield.ui-state-error {
    border: none; }
  .Inputfields .InputfieldStateToggle {
    cursor: pointer; }
    .Inputfields .InputfieldStateToggle span.ui-icon:first-child {
      /* the open/close icon that goes with most Inputfields */
      float: right;
      padding-right: 0.25em; }
    .Inputfields .InputfieldStateToggle .ui-icon + .ui-icon {
      margin-right: 0.5em;
      margin-left: none; }
  .Inputfields .InputfieldStateCollapsed .InputfieldHeader {
    /* different style for collapsed header */
    padding-bottom: 0.75em;
    background: white;
    /* WHITE */
    border: 1px solid #eff0f2;
    /* LIGHT-KHAKI */
    color: #6f6f6f;
    /* LIGHT-BROWN */ }
    .Inputfields .InputfieldStateCollapsed .InputfieldHeader:hover {
      /* style for collapsed header when hovered */
      color: #017bd0;
      border-color: #eff0f2;
      /* LIGHT-KHAKI */
      background: white;
      /* WHITE */ }
  .Inputfields .InputfieldStateCollapsed .InputfieldContent {
    /* collapsed Inputfields don't show their content (only header) */
    display: none; }
  .Inputfields .InputfieldHeader,
  .Inputfields .InputfieldWrapper > .description {
    background: white;
    /* WHITE */
    border: 1px solid #eff0f2;
    /* LIGHT-KHAKI */
    border-bottom: none;
    color: #222222;
    /* BROWN */ }
  .Inputfields .InputfieldHeader:hover {
    color: #017bd0; }
  .Inputfields .InputfieldWrapper > .description {
    margin: 0;
    padding-bottom: 1em;
    margin-bottom: -1em; }
  .Inputfields .InputfieldHeader + .InputfieldContent {
    padding: 0.25em 1.25em 1.25em 1.25em;
    border: 1px solid #eff0f2;
    /* LIGHT-KHAKI */
    border-top: none;
    background: white;
    /* WHITE */ }
  .Inputfields .InputfieldMarkup .InputfieldContent {
    border: 1px solid #eff0f2;
    /* LIGHT-KHAKI */
    margin-top: 1em;
    padding: 1.25em; }
  .Inputfields .InputfieldMarkup .InputfieldHeader + .InputfieldContent {
    border-top: none;
    margin-top: 0;
    padding-top: 0; }
  .Inputfields .InputfieldRepeater > .InputfieldContent .InputfieldRepeaterItem > .InputfieldHeader {
    border: none;
    background: #cc413d;
    /* LIGHT-GREEN */
    color: white;
    /* WHITE */
    padding: 0.25em 0.25em 0.25em 2em; }
    .Inputfields .InputfieldRepeater > .InputfieldContent .InputfieldRepeaterItem > .InputfieldHeader:hover {
      background: #48a63d;
      color: white;
      border: none; }
    .Inputfields .InputfieldRepeater > .InputfieldContent .InputfieldRepeaterItem > .InputfieldHeader a {
      color: white;
      /* WHITE */
      cursor: pointer; }
    .Inputfields .InputfieldRepeater > .InputfieldContent .InputfieldRepeaterItem > .InputfieldHeader .ui-icon {
      margin-top: 2px; }
  .Inputfields .InputfieldRepeater > .InputfieldContent .InputfieldRepeaterItem > .InputfieldContent {
    padding: 0;
    margin-bottom: 1.25em;
    border: none; }
  .Inputfields .InputfieldRepeater > .InputfieldContent .InputfieldRepeaterItem.InputfieldStateCollapsed {
    margin-bottom: 1em; }
  .Inputfields .InputfieldRepeater > .InputfieldContent .InputfieldRepeaterItem > .InputfieldHeader.ui-state-error {
    text-decoration: line-through;
    background: #a30000;
    border: none; }
  .Inputfields .InputfieldFileList > li {
    margin-top: 0; }
  .Inputfields .InputfieldFileList .InputfieldFileItem {
    border: 1px solid #eaebed; }
  .Inputfields .InputfieldFileList .InputfieldFileItem .ui-widget-content {
    border: none; }
  .Inputfields .InputfieldItemList .InputfieldItemHeader {
    /* file or repeater item header */
    border: none;
    background: #cc413d;
    /* LIGHT-GREEN */
    color: white;
    /* WHITE */
    padding-left: 0.25em;
    padding-right: 0.5em;
    cursor: move;
    font-weight: normal; }
    .Inputfields .InputfieldItemList .InputfieldItemHeader:hover {
      /* file or repeater item header in hover state */
      background: #48a63d;
      color: white;
      border: none; }
    .Inputfields .InputfieldItemList .InputfieldItemHeader a {
      /* link in file or repeater item header */
      color: white;
      /* WHITE */ }
    .Inputfields .InputfieldItemList .InputfieldItemHeader .ui-icon {
      margin-top: 2px; }
  .Inputfields .InputfieldItemList .InputfieldItemHeader.ui-state-error {
    /* deleted item state */
    text-decoration: line-through;
    background: #a30000;
    border: none; }
  .Inputfields .InputfieldItemList:not(.InputfieldStateCollapsed) > .InputfieldHeader,
  .Inputfields .InputfieldFieldset:not(.InputfieldStateCollapsed) > .InputfieldHeader,
  .Inputfields .InputfieldFieldsetOpen:not(.InputfieldStateCollapsed) > .InputfieldHeader,
  .Inputfields .InputfieldItemList > .InputfieldHeader + .InputfieldContent,
  .Inputfields .InputfieldFieldset > .InputfieldHeader + .InputfieldContent,
  .Inputfields .InputfieldFieldsetOpen > .InputfieldHeader + .InputfieldContent {
    /* Inputfields containing other items get a different background color */
    background: rgba(242, 243, 244, 0.5); }
  .Inputfields .InputfieldPageNameURL {
    /* page name */
    font-size: 0.923076923076923em; }

.Inputfields > .Inputfield {
  display: block;
  clear: both; }

.Inputfields > .Inputfield > .InputfieldContent:before,
.Inputfields > .Inputfield > .InputfieldContent:after,
.InputfieldForm:after {
  /* @soma clearfix */
  content: " ";
  display: table; }

.Inputfields > .Inputfield > .InputfieldContent:after,
.InputfieldForm:after {
  /* @soma clearfix  */
  clear: both; }

/**
 * Inputfield containers (InputfieldHeader, InputfieldContent) 
 *
 */
.Inputfields .InputfieldHeader,
.InputfieldForm .InputfieldHeader,
.InputfieldForm label.InputfieldHeader,
.InputfieldWrapper > .description {
  /* typically the Inputfield's <label> */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  /* prevent selection of this element */
  display: block;
  padding: 0.75em 0.25em 0.25em 1.25em;
  margin: 0;
  font-weight: bold; }

/**
 * Styles for item listing inputfields
 *

.InputfieldItemList .InputfieldContent .InputfieldHeader {
	font-weight: bold;
	padding: 5px 10px; 
	text-shadow: none; 
}
 */
.InputfieldStateRequired > .InputfieldHeader:first-child:after {
  /* Add asterisk to indicate field is required */
  content: ' *';
  color: #a30000; }

/****************************************************************************
 * Specific Inputfield types
 *
 * Defined here rather than as separate CSS files because their styles are 
 * shared or there may be relationships with other Inputfields
 *
 */
.Inputfields .InputfieldHidden {
  display: none; }

/**
 * Buttons
 *
 */
.InputfieldForm .Inputfields .InputfieldSubmit,
.InputfieldForm .Inputfields .InputfieldButton {
  /* enable horizontal stack of buttons */
  margin-top: 0;
  padding-top: 0;
  clear: none;
  background: none; }
  .InputfieldForm .Inputfields .InputfieldSubmit .InputfieldHeader,
  .InputfieldForm .Inputfields .InputfieldButton .InputfieldHeader {
    /* no need for a header with buttons */
    display: none; }
  .InputfieldForm .Inputfields .InputfieldSubmit .InputfieldContent,
  .InputfieldForm .Inputfields .InputfieldButton .InputfieldContent {
    /* we don't need our visual furniture for buttons */
    padding: 0;
    margin: 0;
    margin-top: 1em;
    background: none;
    border: none; }

.Inputfields > .InputfieldSubmit {
  float: left;
  margin-bottom: 0.5em;
  margin-top: 0; }

.Inputfields .InputfieldSubmit + .InputfieldSubmit {
  /* two buttons next to each other */
  float: left;
  margin-left: 0.5em;
  margin-top: 0; }

.Inputfields .Inputfield:not(.InputfieldSubmit) + .InputfieldSubmit {
  clear: left; }

.Inputfield .LanguageSupport {
  margin-bottom: 1em; }

/****************************************************************************
 * Render Value Mode 
 *
 * Used when only values are being rendered in the form (no inputs)
 *
 */
.InputfieldRenderValueMode .InputfieldSelect li,
.InputfieldRenderValueMode .InputfieldRadios li,
.InputfieldRenderValueMode .InputfieldCheckboxes li {
  margin: 0; }
.InputfieldRenderValueMode .InputfieldSubmit,
.InputfieldRenderValueMode .InputfieldButton {
  display: none; }

/***********************************************************************************************
 * GENERAL
 *
 */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #eff0f2;
  /* LIGHT KHAKI */ }

body,
.ui-dialog,
.ui-button,
input,
textarea {
  font: 10px/20px "Helvetica Neue", Arial, sans-serif; }

body {
  color: #222222;
  /* BLACK */ }

body.modal {
  background-color: white;
  /* WHITE */ }

#masthead,
#headline,
#content,
#footer {
  padding-right: 20px;
  padding-left: 20px; }

#masthead,
#notices,
#content,
.ui-dialog {
  font-size: 1.3em; }

.container {
  position: relative;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto; }

a {
  /* standard link color */
  color: #017bd0;
  /* GREEN */ }

a:hover {
  /* hovered link color */
  color: #cc413d;
  /* CYAN */
  background: none; }

a.on {
  /* on/active link color */
  background: none;
  /* LIGHT-GREEN */
  color: #cc413d;
  /* WHITE */ }

a:active {
  color: #cc413d;
  background: none; }

.WireFatalError {
  background: #a30000;
  /* DARK-RED */
  color: white;
  /* WHITE */
  padding: 1em;
  position: relative;
  z-index: 9999; }

/***********************************************************************************************
 * MASTHEAD
 *
 */
#masthead {
  height: 81px;
  /*
  background: #333F4D; 
  background: #646047;
  */
  background: #333f4d;
  /* DARK-ORANGE */
  position: relative;
  /*border-bottom: 1px solid rgba(0,0,0,0.1);*/ }
  #masthead a {
    color: white;
    /* WHITE */ }
  #masthead #masthead_shade {
    background: none;
    border-top: none;
    height: 31px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; }
  #masthead #logo {
    position: absolute;
    left: -3px;
    top: 13px; }
  #masthead #logo:hover {
    background: none; }
  #masthead #topnav {
    position: absolute;
    top: 50px;
    right: 0;
    height: 31px;
    overflow: hidden;
    margin: 0; }
    #masthead #topnav li {
      padding: 0;
      margin: 0;
      list-style: none;
      display: inline;
      line-height: 1em; }
    #masthead #topnav a {
      background: rgba(255, 255, 255, 0.05);
      color: white;
      display: block;
      float: left;
      margin: 0 0 0 1px;
      padding: 9px 10px 11px 10px;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px; }
    #masthead #topnav a:hover {
      background: rgba(255, 255, 255, 0.2);
      /* WHITE */
      color: white;
      text-decoration: none; }
    #masthead #topnav a.on:hover,
    #masthead #topnav a.on {
      color: #222222;
      background: #f2f3f4;
      text-decoration: none; }
  #masthead #breadcrumb {
    position: absolute;
    left: 0;
    top: 56px;
    /*
    li:after {
    	content: " \232A";
    }
    */ }
    #masthead #breadcrumb li {
      color: rgba(255, 255, 255, 0.3);
      display: inline-block;
      padding: 0;
      line-height: 1em;
      white-space: nowrap;
      padding-right: 0.5em; }
    #masthead #breadcrumb a {
      color: rgba(255, 255, 255, 0.6);
      margin-right: 0.5em; }
    #masthead #breadcrumb a:hover {
      color: white;
      background: none;
      text-decoration: underline; }
    #masthead #breadcrumb a.sitelink {
      float: left; }
      #masthead #breadcrumb a.sitelink .ui-icon {
        float: left;
        position: relative;
        top: -2px; }
    #masthead #breadcrumb .ui-state-default {
      /* for home icon */
      border: none;
      background: none; }
  #masthead #head_button {
    /* The main/primary button for a listing screen, appears in the masthead */
    position: absolute;
    top: 90px;
    right: 0;
    display: none;
    z-index: 2; }
    #masthead #head_button button {
      margin-right: 0;
      margin-left: 10px; }
  #masthead #ProcessPageSearchForm {
    position: absolute;
    top: 12px;
    right: 0;
    width: 25%; }
  #masthead #ProcessPageSearchQuery {
    height: auto;
    padding: 2px 7px 1px 7px;
    font-size: 1em;
    border: 1px solid rgba(255, 255, 255, 0.1);
    /*rgba(255,255,255,0.1);*/
    /*WHITE */
    background: transparent;
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
    /*rgba(255,255,255,0.8);*/
    /* WHITE */
    border-radius: 5px; }
  #masthead #ProcessPageSearchQuery:focus {
    background: white;
    /* WHITE */
    color: #222222;
    /* BLACK */
    text-transform: none;
    font-weight: normal; }
  #masthead #ProcessPageSearchStatus {
    position: absolute;
    top: 3px;
    right: 10px;
    color: #999999;
    /* GREY */ }

/* #masthead */
#headline {
  position: relative;
  z-index: 1;
  min-height: 51px;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  background: #eff0f2;
  border-bottom: #eff0f2; }

#title {
  font-size: 2.5em;
  line-height: 1em;
  margin: 0;
  color: #cc413d;
  /* BLACK */
  padding-right: 3em; }

/***********************************************************************************************
 * CONTENT
 *
 */
#content {
  position: relative;
  background: white;
  /* WHITE */
  padding-bottom: 2em;
  padding-top: 1px;
  z-index: 0; }

#content .container {
  min-height: 50px; }

#content .container > form,
#content .container > .ui-helper-clearfix > form {
  position: relative;
  top: -1px; }

.content {
  /**
   * Actions: like the "|edit|view|new" in the PageList
   *
   */
  /**
   * Content navigation like when on the root page of "templates" or "access"
   *
   */
  /**
   * WireTabs
   *
   */
  /**
   * PageList
   *
   */
  /* MarkupAdminDataTable */
  /* MarkupPagerNav */
  /* Pagination */ }
  .content img {
    display: block; }
  .content .nav a.label {
    font-size: 1em; }
  .content p,
  .content ul
  ol,
  .content table {
    margin: 1em 0; }
  .content table th,
  .content table th.header,
  .content table.AdminDataList th,
  .content h4 {
    color: #cc413d;
    /* LIGHT-PURPLE */ }
  .content table th.headerSortUp,
  .content table th.headerSortDown,
  .content table th:hover {
    color: #48a63d;
    /* DARK-PURPLE */ }
  .content table.AdminDataList {
    margin-top: 0; }
  .content h2 {
    margin: 1em 0;
    font-size: 1.4em;
    line-height: 1.2em;
    color: #777777;
    /* DARK-GREY */ }
  .content h2 a {
    text-decoration: underline; }
  .content h2 a:hover {
    color: white;
    /* WHITE */
    background: #cc413d;
    text-decoration: none; }
  .content h3 {
    margin: 1em 0;
    font-size: 1.2em; }
  .content h4 {
    margin: 1em 0 0.25em 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.916666666666667em; }
  .content li {
    margin: 1em 0;
    display: block;
    list-style: disc; }
  .content ol li {
    display: list-item;
    list-style-type: decimal;
    margin-left: 1em; }
  .content .PageListActions {
    margin-left: -2px; }
  .content ul.actions li,
  .content .PageListActions li,
  .content li.action {
    border: none;
    padding: 0 1px;
    margin: 0; }
  .content ul.actions li a,
  .content li.action a {
    border-bottom: none;
    text-transform: uppercase;
    font-weight: bold;
    border-left: 1px solid #eff0f2;
    /* LIGHT-KHAKI */ }
  .content li.action a, .content .actions a,
  .content .PageList .actions a,
  .content .PageListMoveNote a {
    /* action links */
    color: #cc413d;
    /* LIGHT-GREEN */
    padding: 0 4px 0 4px;
    display: inline-block;
    font-size: 0.76923em;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase; }
  .content .actions a:hover,
  .content li.action a:hover,
  .content .PageListMoveNote a:hover {
    /* action links hovered */
    color: white;
    /* WHITE */
    background: #cc413d;
    /* CYAN */ }
  .content dl {
    margin: 1em 0; }
  .content .container > dl:first-child {
    margin-top: 0; }
  .content dt,
  .content dt {
    display: block;
    font-weight: bold;
    padding-top: 0.75em; }
  .content dt a {
    text-transform: none; }
  .content dl dd {
    padding-bottom: 0.75em;
    border-bottom: 1px dotted #eff0f2;
    /* LIGHT KHAKI */ }
  .content .WireTabs {
    top: 1.1em;
    margin-top: -1.1em !important;
    margin-bottom: 1.1em;
    left: 0;
    overflow: hidden; }
    .content .WireTabs li {
      background: none;
      margin: 0;
      padding: 0; }
    .content .WireTabs a {
      padding: 6px 11px;
      display: inline-block;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      margin-right: 1px;
      color: #222222;
      background: none;
      font-weight: bold; }
    .content .WireTabs a.on {
      background: white;
      color: #222222; }
    .content .WireTabs a:hover {
      background: white;
      color: #222222; }
    .content .WireTabs a:active {
      background: white;
      color: #222222; }
  .content .PageList a.PageListPage {
    color: #017bd0;
    /* BROWN */
    opacity: 1.0; }
  .content .PageList .PageListItem > a.PageListPage:hover {
    text-decoration: underline;
    color: #2f4248; }
  .content .PageList .PageListItem > a.PageListPage:active {
    text-decoration: underline;
    color: #cc413d; }
  .content .PageList .PageListItemOpen > a.PageListPage {
    color: #222222;
    /* ORANGE */ }
  .content .PageList .PageListStatusHidden > a.PageListPage {
    opacity: 0.7; }
  .content .PageList .PageListNumChildren {
    font-size: 0.833333em; }
  .content .PageList .PageListItemOpen .PageListNumChildren {
    padding-right: 0.5em;
    border-right: 1px solid #eff0f2;
    /* LIGHT-GREY */ }
  .content .AdminDataList th,
  .content .AdminDataList td {
    border-color: #e1e4e6; }
  .content .AdminDataList tr:hover td,
  .content .AdminDataList tr:hover th {
    background: none; }
  .content .MarkupPagerNav {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 1em 0; }
    .content .MarkupPagerNav li {
      padding: 0;
      margin: 0;
      list-style: none;
      display: inline;
      padding: 6px 0;
      background: none; }
      .content .MarkupPagerNav li a {
        padding: 4px 9px;
        margin: 0;
        text-decoration: none; }
    .content .MarkupPagerNav li.MarkupPagerNavSeparator {
      border: none; }
  .content .PageListPagination,
  .content .MarkupPagerNav {
    color: text-color;
    font-size: 0.76923em; }
  .content .PageListPagination a,
  .content .MarkupPagerNav a {
    background: #cc413d;
    /* LIGHT KHAKI */
    color: white;
    /* BLACK */
    font-weight: bold;
    border-radius: 2px;
    border: none;
    padding: 2px 6px; }
  .content .PageListPaginationCurrent a,
  .content .MarkupPagerNavOn a {
    color: #222222;
    /* WHITE */
    background: #f2f3f4;
    /* ORANGE */ }
  .content .PageListPagination a:hover,
  .content .MarkupPagerNav a:hover {
    /* action links hovered */
    color: white;
    background: #48a63d; }
  .content .PageListPagination a:active,
  .content .MarkupPagerNav a:active {
    color: white;
    background: #cc403c; }

.description {
  color: #777777;
  /* DARK GREY */
  margin: 0.5em 0; }

.notes,
.detail {
  font-size: 0.846153846153846em;
  color: #777777;
  /* DARK GREY */
  line-height: 1.3em; }

.notes {
  background: none; }

.description strong,
.notes strong {
  color: #777777;
  /* DARK GREY */
  font-weight: bold; }

.error {
  background: #a30000;
  color: white;
  /* DARK RED */
  font-weight: bold;
  font-size: 0.9166666em; }

/***********************************************************************************************
 * FOOTER
 *
 */
#footer {
  margin: 2em 0 2em 0;
  font-size: 1.1em;
  color: #999999;
  /* GREY */ }
  #footer a {
    color: #cc413d;
    /* LIGHT-ORANGE */ }
  #footer p {
    margin-top: 0; }
  #footer #userinfo {
    display: block;
    float: right; }

#debug {
  margin-top: 2em; }
  #debug .container {
    width: 100%; }
  #debug p {
    margin: 1em 0; }
  #debug ol {
    margin: 1em 0; }
  #debug h4 {
    font-weight: bold; }
  #debug table {
    width: 100%; }
    #debug table th {
      font-weight: bold; }
    #debug table td, #debug table th {
      vertical-align: top;
      padding: 3px 5px;
      border-bottom: 1px dotted #999999;
      /* LIGHT-GREY */
      border-left: 1px dotted #999999;
      /* LIGHT-GREY */
      font-size: 12px; }

/***********************************************************************************************
 * MODAL
 *
 */
body.modal .container {
  margin: 0;
  width: 100%;
  min-width: 300px; }
body.modal .content h2 {
  margin: 0.5em 0;
  font-size: 1.3em; }
body.modal #footer,
body.modal #masthead,
body.modal #headline {
  display: none; }

/***********************************************************************************************
 * MISC
 *
 */
.content > .container > #PageListContainer {
  /*margin-top: -0.5em; */ }

#fieldgroupContext {
  /* context selection in field editor */
  background: white;
  /* WHITE */
  padding-left: 0.5em;
  margin-top: 1.3em; }

.align_left,
.align-left {
  float: left;
  margin: 0 1em 0.5em 0; }

.align_right,
.align-right {
  float: right;
  margin: 0 0 0.5em 1em; }

.align_center,
.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/***********************************************************************************************
 * MEDIA QUERIES
 *
 */
/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  #topnav {
    left: 0; }

  #masthead #breadcrumb {
    top: 15px;
    left: 1px;
    width: 70%;
    white-space: nowrap;
    overflow: hidden; }

  #logo {
    display: none; }

  #masthead,
  #headline,
  body:not(.modal) #content,
  #footer {
    padding-right: 10px;
    padding-left: 10px; }

  #head_button {
    display: none !important; }

  #fieldgroupContext {
    display: none; } }
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  /**
   * Disregard column width when at mobile size
   *
   */
  .Inputfield {
    clear: both !important;
    width: 100% !important;
    margin-left: 0 !important; }

  .container {
    width: 100%; }

  #footer #userinfo {
    float: none; }

  #footer {
    text-align: center; }

  #masthead,
  #content {
    font-size: 1.2em; }

  #headline #title {
    padding-top: 0.2em;
    font-size: 2em; }

  .content .WireTabs a {
    padding-left: 8px;
    padding-right: 8px; }

  #masthead #topnav a {
    padding-left: 8px;
    padding-right: 8px; } }
#masthead #topnav a {
  font-weight: normal; }

.content > .container > #PageListContainer {
  margin-top: 1em; }

body #content .container > form,
body #content .container > .ui-helper-clearfix > form {
  top: -2px; }

#topnav {
  font-weight: bold; }

body #headline {
  padding-bottom: 2em;
  padding-top: 3em; }

body.hasWireTabs #content {
  border-top: 3em solid #eff0f2; }

/*
body.id-3 #content {
	border-top: 1em solid $subtle-bg; 
}
*/
#content .WireTabs {
  margin-top: 0;
  position: relative;
  top: -18px;
  z-index: 102;
  margin-bottom: -19px;
  width: 100%; }

#content .WireTabs a {
  font-weight: normal;
  color: #222222;
  border: 1px solid transparent;
  height: 33px;
  border-bottom: none; }

#content .WireTabs a.on,
#content .WireTabs a:hover {
  border: 1px solid #e4e6e8;
  border-bottom: none; }

#masthead #head_button {
  top: 102px; }

#content #_ProcessPageEditView {
  float: right;
  border: 1px solid #ddd;
  border-bottom: none;
  margin-right: 0; }

#content .PageListItem {
  border-bottom: 1px solid #eff0f2;
  padding-top: 4px;
  padding-bottom: 4px; }
