.InputfieldFile li.InputfieldFile .InputfieldFileLanguageInfo .actions,
.InputfieldFile li.InputfieldFile .InputfieldFileLanguageInfo p {
	margin: 0; 
}

.InputfieldFile .InputfieldFileLanguageInfo .notes,
.InputfieldFile .InputfieldFileLanguageInfo .actions li.description {
	text-transform: none; 
}

.InputfieldFile .InputfieldFileLanguageInfo {
	position: relative; 
	margin-top: 0; 
}

.InputfieldFile .InputfieldFileLanguageInfo .actions {
	position: absolute; 
	top: 0;
	right: 1em; 
}

.InputfieldFileList .InputfieldFileLanguageInfo {
	margin-top: -1em; 
}

.InputfieldFileList .InputfieldFileLanguageInfo p {
	padding: 0 1em 1em 1em; 
	margin-top: 0; 
}
