.InputfieldFile li.InputfieldFile .InputfieldFileLanguageInfo .actions,
.InputfieldFile li.InputfieldFile .InputfieldFileLanguageInfo p {
	margin: 0; 
}

.InputfieldFile .InputfieldFileLanguageInfo .notes,
.InputfieldFile .InputfieldFileLanguageInfo .actions li.description {
	text-transform: none; 
}

.Inputfields .InputfieldFile .InputfieldFileLanguageInfo {
	position: relative; 
	margin-top: 0; 
	padding-top: 0;
}

.InputfieldFileList .InputfieldFileLanguageInfo {
	margin-top: -1em; 
}

.InputfieldFileList .InputfieldFileLanguageInfo a i.hover-only {
	display: none;
}
.InputfieldFileList .InputfieldFileLanguageInfo a:hover i.hover-only {
	display: inline;
}

#wrap_Inputfield_language_files p.InputfieldFileData.description {
	padding: 0 0 1em 0;
}
