.InputfieldFile li.InputfieldFile .InputfieldFileLanguageInfo .actions,
.InputfieldFile li.InputfieldFile .InputfieldFileLanguageInfo p {
	margin: 0; 
}

.InputfieldFile .InputfieldFileLanguageInfo .notes,
.InputfieldFile .InputfieldFileLanguageInfo .actions li.description {
	text-transform: none; 
}

.InputfieldFile .InputfieldFileLanguageInfo {
	margin-top: 0.5em; 
	position: relative; 
}

.InputfieldFile .InputfieldFileLanguageInfo .actions {
	position: absolute; 
	top: 0;
	right: 0; 
}
